<main class="tc pb2 f6 lh-copy">
	<h1>Bug Report / New Feature</h1>
	<div class="ph3 mw6 center">
		<p>Thank you for reporting a bug or proposing a new feature. It is always a pleasure to give users a better experience!</p>
		<p>First, you need to follow the guidelines to help resolve it easier.</p>
	</div>
	<section class="mv4 mw6 center ba b--light-silver pb3">
		<h2 class="bg-light-silver mv0 pv2 white">Before Reporting</h2>
		<div class="ph3 pv1">
			<h3>Search for Duplicates</h3>
			<p>There is a high chance that your bug or new feature idea is already reported by someone else. And if so, please follow-up on it instead of creating a new duplicate report.</p>
		</div>
		<div class="ph3 pv1">
			<h3>Gather Useful Informations</h3>
			<p>Providing useful informations as much as you can, it will help resolve the bug quickly and apply the new feature effectively.</p>
		</div>
	</section>
	<section class="mv4 mw6 center ba b--light-silver pb3">
		<h2 class="bg-light-silver mv0 pv2 white">Opening a Report (Issue)</h2>
		<div class="ph3 pv1">
			<p>You are <b>not</b> required to sign-up in order to open a report, but you must if you want to follow-up or add a comment to an existing report.</p>
		</div>
		<div class="ph3 pv1">
			<h3>Kind of Report</h3>
			<p>Please select the right kind of your report.</p>
			<ul class="tl">
				<li><b>Bug</b> - Something that should work but does not work</li>
				<li><b>Enchancement</b> - Existing feature that could be enchanced</li>
				<li><b>Proposal</b> - Completely new feature</li>
				<li><b>Task</b> - Anything else you want</li>
			</ul>
		</div>
		<div class="ph3 pv1">
			<h3>Priority</h3>
			<p>Please also select the right priority of your report.</p>
		</div>
	</section>
	<div class="ph3">
		<p>Thank you!<br>If you have any questions,<br>Please feel free to get in touch through <a href="https://www.facebook.com/rollytplayer" target="_blank">Facebook</a> and <a href="https://twitter.com/rollytplayer" target="_blank">Twitter</a>.</p>
	</div>
	<br>
	<a class="pv3 ph4 dib bg-light-red white" href="https://bitbucket.org/rhaldkhein/rollyt/issues/new" target="_blank"><b>Create a Report</b></a>
</main>