<div class="left">
    <div class="disclaimer">
        <h3>Disclaimer</h3>
        <span>We do not create or store any Contents such as Videos, Channels, Playlists and Comments on our server. All the Contents available on this Website are directly provided by Users, Google and YouTube through their Data API and Player API.</span>
    </div>
    <div class="actions">
        <a href="#/player.frame/about/privacy">Privacy Policy</a>
        <a href="#/player.frame/about/terms">Terms & Conditions</a>
        <a href="#/player.frame/about/disclaimer">Disclaimer</a>
        <a href="#/player.frame/about/bugreport">Bug Report</a>
        <a href="#/player.frame/about/help">Help Center</a>
        <a href="#/player.frame/about">About</a>
    </div>
</div>
<div class="right">
    <br>
    <br>
    <div><%- (new Date()).getFullYear() -%> <%- locals.app.name -%> - Handmade with <img src="/static/status/footer-logo-heart.png"> on Earth</div>
    <div class="subtext">Icon made by <a href="http://www.google.com" target="_blank">Google</a> from <a href="http://www.flaticon.com" target="_blank">flaticon.com</a> and <a href="http://www.icomoon.io" target="_blank">icomoon.io</a></div>
</div>