<%- include('../../partials/frame/head') -%>
<main class="tc f6 lh-copy">
	<img class="mb4 mt2 mt4-ns w-80 w-auto-ns  " src="/static/images/logos/logo-rollyt-medium.png">
    <section class="mw6 center pb4">
        <span href="https://www.rollyt.com" class="white bg-blue dib pv2 ph4 tracked">www.rollyt.com</span>
    </section>
    <section class="mw6 center pb4">
        <%- include('../../partials/about/description') -%>
    </section>
    <section class="mw6 center pb4">
        <%- include('../../partials/about/key-features') -%>
    </section>
    <section class="mw6 center pb4">
        You can go to <a href="/#/player.frame/about/help">Help Center</a> page for more info
    </section>
    <hr class="style1">
    <section class="mw6 center pb4">
        <br>
        <span>Follow us and get notified!</span>
        <br>
        <br>
        <a class="no-underline" href="https://www.facebook.com/rollytplayer" target="_blank">
            <img src="/static/images/logos/socials/social-logo-facebook-dark.png">
        </a>
        &nbsp;&nbsp;&nbsp;
        <a class="no-underline" href="https://twitter.com/rollytplayer" target="_blank">
            <img src="/static/images/logos/socials/social-logo-twitter-dark.png">
        </a>
    </section>
    <hr class="style1">
    <section class="mw6 center mt5">
        <p class="f7 lh-copy gray">
            <%- (new Date()).getFullYear() -%> - <%- locals.app.name -%> @ <%- locals.app.version -%><br>
            By <a href="https://github.com/rhaldkhein" target="_blank">RhaldKhein</a>
        </p>
        <table class="f7 lh-copy center gray">
            <tr><th class="w4">Contributors</th><th class="w4">Testers</th></tr>
            <tr><td>
                <a target="_blank" href="https://github.com/Ethan0007">Joever Monceda</a><br>
                <a target="_blank" href="https://www.facebook.com/monsanone.monsantwo">Jed Monsanto</a><br>
            </td><td>
                <a target="_blank" href="https://www.facebook.com/oscar.gabaon.jr2">Oscar Gabaon Jr.</a><br>
                <a target="_blank" href="https://www.facebook.com/eugine.v.lee">Eugine Lee</a><br>
            </td></tr>
        </table>
    </section>
</main>

<%- include('../../partials/frame/foot') -%>