<%- include('../../partials/frame/head', {
	styles: ['/static/app/libs/rrssb/css/rrssb.css']
}) -%>

<div id="frame-social" class="mw6 center tc" >
	<h1>Feedback</h1>
	<hr class="style1">
	<br>
	<h3>Like &amp; Follow Us</h3>
	<div class="mb3 follow-us"><div class="follow-facebook br2 mb2 ba b--light-silver pa3 lh-solid">
		<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frollytplayer&amp;width=320&amp;layout=standard&amp;action=like&amp;size=large&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=447699735377359" width="320" height="80" scrolling="no" frameborder="0" allowtransparency=""></iframe>
	</div>
	<div class="follow-twitter br2 ba b--light-silver pa3 lh-solid">
		<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.02a1dca8703a0f5962a962619634825b.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=rollytplayer&amp;show_count=true&amp;show_screen_name=true&amp;size=l&amp;time=1517945041841" style="position: static; visibility: visible; width: 233px; height: 28px;" data-screen-name="rollytplayer"></iframe>
	</div>
	</div>
	<h3>Share Us</h3>
	<div class="share-us">
		<ul class="rrssb-buttons mb3 share-us rrssb-1">
			<li class="rrssb-facebook" data-initwidth="33.333333333333336" data-size="68" style="width: calc(50% - 21px);"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.rollyt.com" data-action="" class="popup"><span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"></path></svg></span><span class="rrssb-text">facebook</span></a></li>
			<li class="rrssb-twitter" data-initwidth="33.333333333333336" data-size="53.3125" style="width: calc(50% - 21px);"><a href="https://twitter.com/intent/tweet?text=Rollyt%20-%20The%20Ultimate%20Player%20for%20YouTube%20%20http%3A%2F%2Fwww.rollyt.com" data-action="" class="popup"><span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"></path></svg></span><span class="rrssb-text">twitter</span></a></li>
			<li class="rrssb-email small" data-initwidth="33.333333333333336" data-size="37.328125" style="width: 42px;"><a href="mailto:?Subject=Rollyt.com%20-%20The%20Ultimate%20Player%20for%20YouTube" data-action="" class=""><span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.386 2.614H2.614A2.345 2.345 0 0 0 .279 4.961l-.01 14.078a2.353 2.353 0 0 0 2.346 2.347h18.771a2.354 2.354 0 0 0 2.347-2.347V4.961a2.356 2.356 0 0 0-2.347-2.347zm0 4.694L12 13.174 2.614 7.308V4.961L12 10.827l9.386-5.866v2.347z"></path></svg></span><span class="rrssb-text">email</span></a></li>
		</ul>
	</div>
	<br>
	<!-- <h3>Social Media Pages</h3>
	<a class="no-underline" href="https://www.facebook.com/rollytplayer" target="_blank" title="Facebook">
        <img src="/static/images/logos/socials/social-logo-facebook-dark.png">
    </a>&nbsp;&nbsp;&nbsp;
    <a class="no-underline" href="https://twitter.com/rollytplayer" target="_blank" title="Twitter">
        <img src="/static/images/logos/socials/social-logo-twitter-dark.png">
    </a> -->
</div>

<br>
<hr class="style1">
<br>
<div class="tc" style="height: 1000px; overflow: hidden; overflow-y: auto;">
    <div class="fb-comments" data-href="https://www.rollyt.com" data-numposts="5"></div>
</div>

<script type="text/javascript" src="/node_modules/jquery.min.js"></script>
<script type="text/javascript" src="/static/app/libs/rrssb/js/rrssb.min.js"></script>
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=168223933809311&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<%- include('../../partials/frame/foot') -%>