	    <section class="tc f7 mt5 mb5">
	    <p class="mv1 gray">2018 Rollyt — Handmade with <img class="v-mid" src="/static/status/footer-logo-heart.png"> on Earth</p>
	    <p class="mv1 gray">Icon made by <a href="http://www.google.com" target="_blank">Google</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></p>
	    <p>
	    	<a href="/">Home</a>
	    	<span class="mh2">|</span>
	    	<a href="/about">About</a>
	    	<span class="mh2">|</span>
	    	<a href="/about/disclaimer">Disclaimer</a>
	    	<span class="mh2">|</span>
	    	<a href="/about/bugreport">Bug Report</a>
	    	<span class="mh2">|</span>
	    	<a href="/about/social">Contact Us</a>
	    </p>
	    </section>
    </body>
</html>