<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115773244-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115773244-1');
    </script>
    <!-- Website  Head-->
    <meta charset="UTF-8">
    <title>Rollyt - The Ultimate Player for YouTube</title>
    <meta name="description" content="An advanced alternative feature-rich media player for Youtube that brings an all-new ultimate experience of playing Youtube videos." />
    <meta name="keywords" content="Rollyt,Youtube,Media,Player,Queue,Play,Channel,Playlist,Video,Music,Alternative,Webapp,Ultimate">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/dark/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/images/icons/dark/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/icons/dark/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/icons/dark/manifest.json">
    <!-- <link rel="mask-icon" href="/static/images/icons/dark/safari-pinned-tab.svg" color="#5bbad5"> -->
    <link rel="shortcut icon" href="/static/images/icons/dark/favicon.ico">
    <meta name="msapplication-config" content="/static/images/icons/dark/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- fb meta -->
    <meta property="og:title" content="Rollyt - The Ultimate Player for YouTube">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.rollyt.com">
    <meta property="og:image" content="https://www.rollyt.com/static/images/covers/cover-820x312-bg.png">
    <meta property="og:description" content="Rollyt is a feature-rich media player for Youtube that brings an all-new experience of playing Youtube videos.">
    <!-- twitter meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rollytplayer">
    <meta name="twitter:creator" content="@rhaldkhein">
    <meta name="twitter:title" content="Rollyt - The Ultimate Player for YouTube">
    <meta name="twitter:description" content="Rollyt is a feature-rich media player for Youtube that brings an all-new experience of playing Youtube videos.">
    <meta name="twitter:image" content="https://www.rollyt.com/static/images/covers/cover-820x312-bg.png">
    <!-- styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500"/>
    <link rel="stylesheet" href="/static/app/libs/tachyons/tachyons.min.css"/>