ul.bullet-check
	list-style-image url('/static/images/icons/check-symbol.png')
	li
		padding-left 10*$px
		// margin-bottom 4*$px
		
hr.style1
	border 0
	height 1px
	background-image linear-gradient(left, darken($color_white, 10), darken($color_white, 20), darken($color_white, 10))
	
hr.style
	border 0
	height 1px
	&.style-grad
		background-image linear-gradient(left, $color_page_bg, darken($color_white, 20), $color_page_bg)
	&.style-grad-dark
		background-image linear-gradient(left, $color_page_bg, lighten($color_page_bg, 20), $color_page_bg)
		