<%- include('../header') -%>

    <main>
        <section class="text-heavy">
            <span class="bracket">{</span>
            <span>closed</span>
            <span class="bracket">}</span>
        </section>
        <section>
            <p>Rollyt is currently closed right now. Please come back later.</p>
        </section>
    </main>

<%- include('../footer') -%>
