<%- include('partials/admin_header') %>

<div id="root">
  <div class="pa3">Loading...</div>
</div>

<script type="text/javascript" defer src="/static/app/libs/jsoneditor/dist/jsoneditor.min.js"></script>
<script type="text/javascript" defer src="/node_modules/jquery.min.js"></script>
<script type="text/javascript" defer src="/node_modules/toastr.min.js"></script>
<script type="text/javascript" defer src="/node_modules/bluebird.min.js"></script>
<script type="text/javascript" defer src="/node_modules/moment.min.js"></script>
<script type="text/javascript" defer src="/node_modules/numeral.min.js"></script>
<script type="text/javascript" defer src="/node_modules/lodash.min.js"></script>
<script type="text/javascript" defer src="/node_modules/mithril.js"></script>
<script type="text/javascript" defer src="/node_modules/mithril-data.js"></script>
<script type="text/javascript" defer src="/node_modules/loaderjs.bundle.min.js"></script>
<script type="text/javascript" defer src="https://apis.google.com/js/api.js"></script>

<script type="text/javascript">
  window.onload = function() {
    window.__app = {};
    LoaderJS.load([
        [
          function(resolve, reject) {
            m.request('/~rest/schemas').then(function(data) {
              __app.schemas = data;
              resolve();
            }).catch(reject);
          },
          function(resolve, reject) {
            gapi.load('client:auth2', function() {
                        gapi.client.setApiKey('AIzaSyAR809J7xJrApSZ8f-OrAzAg2g15EOD9CA');
                        gapi.client.load('youtube', 'v3', function() {
                          resolve()
                        });
                    });
          }
        ],
        [
          '/static/admin/index.vendor.js',
          '/static/admin/index.bundle.js',
        ]
        ], 
        function(err) {
          if(!err) App.mount();
          else toastr.error('See console for more info','Error Occured'); 
        }
      );
  };
</script>


<%- include('partials/admin_footer') %>


