<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="An advanced feature-rich web-based player for Youtube that brings an all-new ultimate experience of playing Youtube videos." />
        <meta name="keywords" content="Rollyt,Youtube,Player,Queue,Play,Channel,Playlist,Video,Music,Alternative,Webapp,Ultimate">
        <meta name="author" content="RhaldKhein">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="msapplication-config" content="/images/icons/dark/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- fb meta -->
        <meta property="og:title" content="Rollyt - The Ultimate Player for YouTube">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.rollyt.com">
        <meta property="og:image" content="https://www.rollyt.com/images/covers/cover-820x312-bg.png">
        <meta property="og:description" content="Rollyt is a feature-rich website player for Youtube that brings an all-new experience of playing Youtube videos.">
        <!-- twitter meta -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@rollytplayer">
        <meta name="twitter:creator" content="@rhaldkhein">
        <meta name="twitter:title" content="Rollyt - The Ultimate Player for YouTube">
        <meta name="twitter:description" content="Rollyt is a feature-rich website player for Youtube that brings an all-new experience of playing Youtube videos.">
        <meta name="twitter:image" content="https://www.rollyt.com/images/covers/cover-820x312-bg.png">
        <title>Rollyt - The Ultimate Player for YouTube</title>
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/dark/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/images/icons/dark/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/icons/dark/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/images/icons/dark/manifest.json">
        <link rel="mask-icon" href="/images/icons/dark/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/images/icons/dark/favicon.ico">
        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="/app/libs/normalize/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400">
        <link rel="stylesheet" type="text/css" href="/status/style.min.css">
        <link rel="stylesheet" type="text/css" href="/app/libs/rrssb/css/rrssb.css">
    </head>
    <body>
        <header>
            <section>
                <img src="/images/logos/logo-rollyt-large.png">
            </section>
        </header>