html,
body {
    background-color: #1d2326;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 0.97rem;
    color: #ccc;
    overflow-x: hidden;
}

body > * {
    text-align: center;
}

header img {
    width: 100%;
    /* Actual image size */
    max-width: 429px;
}

p {
    line-height: 140%;
}

p.small {
    font-size: 86%;
}

a {
    text-decoration: none;
    color: #1bb9de;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 3.8rem 2rem 0;
}

main section p {
    display: inline-block;
    max-width: 30rem;
}

ul {
    padding-left: 1.8rem;
    list-style-image: url('/status/check-symbol.png');
}

ul li {
    text-align: left;
    line-height: 140%;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.text-heavy {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    color: #aaa;
    white-space: nowrap;
}

.text-heavy span {
    vertical-align: middle;
}

.text-heavy .bracket {
    display: inline-block;
    font-size: 6rem;
    font-weight: bold;
    color: #cc842f;
}

.features ul {
    display: inline-block;
    max-width: 30rem;
    margin: 0 auto;
}

.features table {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.features table tr td {
    box-sizing: border-box;
}

.features table tr td:first-child {
    text-align: right;
    padding-right: 1rem;
    width: 250px;
}

.features table tr td:last-child {
    text-align: left;
    padding-left: 1rem;
    width: 250px;
    font-size: 85%;
    line-height: 1.1rem;
}

.feature-image {
    width: 540px;
}

section.social a {
    text-decoration: none;
}

footer {
    font-size: 80%;
    padding-bottom: 1rem;
}

footer img {
    vertical-align: middle;
}

#more-credits {
    display: none;
}

#buttons-share {
    margin-bottom: 2rem;
}

#buttons-share .buttons-block {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #283033;
    padding: 0.4rem;
    box-sizing: border-box;
}

#buttons-share .buttons-wrapper {
    width: 50%;
    left: 50%;
    margin: 0 auto;
}

#buttons-share .buttons-container > div {
    margin-bottom: 0.3rem;
}

.button-prime {
    padding: 10px 14px;
    border: 1px dashed;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 10px;
}

@media screen and (max-width:960px) {
    .features table tr td:first-child {
        width: initial;
    }
    .features table tr td:last-child {
        width: initial;
        min-width: 142px;
        display: none;
    }
    .feature-image {
        width: initial;
    }
}

@media screen and (max-width:750px) {
    .text-heavy {
        font-size: 2.2rem;
    }
    .text-heavy .bracket {
        font-size: 3.2rem;
    }
}

@media screen and (max-width:460px) {
    .text-heavy {
        font-size: 1.6rem;
    }
    .text-heavy .bracket {
        font-size: 2.6rem;
    }
    section {
        padding: 2rem 2rem 0;
    }
    #buttons-share .buttons-wrapper {
        width: 65%;
    }
}

@media screen and (min-width:800px) {
    #buttons-share {
        margin: 0;
        padding: 0;
    }
    #buttons-share .buttons-block {
        width: 12rem;
        top: 10%;
        bottom: initial;
        background-color: initial;
    }
    #buttons-share .buttons-wrapper {
        width: initial;
        margin: 0;
    }
    #buttons-share .buttons-container > div {
        width: 3.7rem;
    }
    #buttons-share .rrssb-buttons li {
        clear: both;
        margin-bottom: 0.4rem;
    }
}
