<%-
	include('partials/head-web', {
		class: 'tc'
	})
-%>

<% if (!locals.unknownBrowser) { %>
    <div class="center pt4 pt5-ns ph2 mw6">
    	<img class="mb4" src="<%= locals.browser.image %>">
    	<h1><%= locals.inapp ? 'Change Browser' : (locals.supported ? 'Browser Supported' : 'Update Browser') %></h1>
        <% if (locals.supported) { %>
            <p class="f4 lh-copy">Your current version of the browser is supported. Please proceed to homepage.</p>
            <p class="lh-copy">
                <span class="f7 gray">Current version: <%= locals.useragent.version %> (<%= locals.useragent.codename %>)</span>
                <span class="mh3">|</span>
                <span class="f7 gray">Required version: <%= locals.requiredVersion %> and above</span>
            </p>
            <hr class="style style-grad mv4">
            <a href="/" class="f4 b">Go to Homepage</a>
        <% } else if (locals.inapp) { %>
            <p class="f4 lh-copy">You're using a built-in browser of an application and it's not supported. Please re-open this website in your <a target="_blank" href="https://fieldguide.gizmodo.com/how-to-open-links-in-your-mobile-browser-instead-of-the-1657320067">external browser</a> application.</p>
        <% } else { %>
            <p class="f4 lh-copy">You're using an old version of <%= locals.browser.title %> and it's not supported. Please update to the latest version.</p>
            <p class="lh-copy">
                <span class="f7 gray">Current version: <%= locals.useragent.version %></span>
                <span class="mh3">|</span>
                <span class="f7 gray">Required version: <%= locals.requiredVersion %> and above</span>
            </p>
            <hr class="style style-grad mv4">
            <h4 class="mb2 mid-gray">Viewing in Mobile App?</h4>
            <p class="f5 lh-copy">This page may occur if you're using built-in browser of an app like Facebook, Twitter and WhatsApp. Please re-open this website in your <a target="_blank" href="https://fieldguide.gizmodo.com/how-to-open-links-in-your-mobile-browser-instead-of-the-1657320067">external browser</a> app.</p>
            <h4 class="mb2 mid-gray">Need help to update?</h4>
            <p class="f5 lh-copy">Follow the steps on the <a target="_blank" href="<%= locals.browser.link_update %>">update guide page</a>.</p>
            <h4 class="mt4 mb2 mid-gray">Having trouble updating?</h4>
            <p class="f5 lh-copy">
                <%= (locals.useragent.codename === 'edge') ? 'Download' : 'Uninstall this version' %> 
                and install the <a target="_blank" href="<%= locals.browser.link_download %>">latest version</a>.</p>
        <% } %>
    </div>
 <% } else { %>
    <div class="center pt4 ph2 mw6">
        <a href="/about"><img src="<%= locals.browser.image %>" class="mb4"></a>
        <h1>Change Browser</h1>
        <p class="f4 lh-copy">You are using a browser that is not supported. Please change to any of the following browsers.</p>
        <hr class="style style-grad mv4">
    </div>
    <table class="browsers center">
        <tr>
            <% for (var key in locals.browsers) {%>
                <td class="dib">
                    <a class="pv3 ph3 dib br2" target="_blank" href="<%= locals.browsers[key].link_download %>">
                        <img width="100" src="<%= locals.browsers[key].image %>">
                        <div><%= locals.browsers[key].title %></div>
                    </a>
                </td>
            <% }%>
        </tr>
    </table>
<% } %>

<div class="center mw6">
    <hr class="style style-grad mv4">
</div>

<footer class="f6 lh-copy">
    <section class="social">
        <span>Get in touch</span>
        <br>
        <br>
        <a href="https://www.facebook.com/rollytplayer">
            <img src="/static/images/logos/socials/social-logo-facebook-dark.png">
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.twitter.com/rollytplayer">
            <img src="/static/images/logos/socials/social-logo-twitter-dark.png">
        </a>
    </section>
</footer>

<style type="text/css">
    table.browsers a:hover {
        background-color: #d6d6d6
    }
</style>

<%- include('partials/foot-web') -%>


