<%- 
	include('partials/head', {
		styles: [
			// '/static/app/dist/loader.css',
			'/static/app/dist/index.app.css'
		]
	}) 
-%>


<div id="root">
	<div class="loadup h-100">
		<div class="left bg-dark-gray h-100 absolute w-25 z-1">
			<div class="bg-prime w-100 h3-125"></div>
			<div class="current bg-black"></div>
			<div class="controls"></div>
		</div>
		<div class="right bg-far-white h-100 absolute w-100 z-0">
			<div class="bg-white w-100 h3-125">
			</div>
			<div class="right-wrap">
				<div class="content">
					<div class="wrap">
						<div class="block">
							<div class="block-head">
								<div class="block-head-content">
									<span class="title"><h1>&nbsp;</h1></span>
								</div>
							</div>
							<div class="block-content"></div>
						</div>
						<div class="block">
							<div class="block-head">
								<div class="block-head-content">
									<span class="title"><h1>&nbsp;</h1></span>
								</div>
							</div>
							<div class="block-content"></div>
						</div>
					</div>
				</div>
				<div class="sidebar">
						<div class="h34px bg-dark-white mb3">&nbsp;</div>
						<div class="h24px bg-dark-white mb2 w-80">&nbsp;</div>
						<div class="h24px bg-dark-white mb2 w-80">&nbsp;</div>
						<div class="h24px bg-dark-white mb2 w-80">&nbsp;</div>
						<div class="h24px bg-dark-white mb2 w-80">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	window.__app = {
		prefs: <%- locals.prefs %>,
		msgs: <%- locals.msgs %>,
		auth: <%- locals.auth %>,
		account: null,
		browser: null,
		browsers: <%- locals.browsers %>,
		env: '<%= process.env.NODE_ENV %>',
		host: '<%= process.env.APP_HOST %>',
		cookieacc: <%= locals.cookie %>,
		location: <%- locals.geoip %>,
		config: <%- locals.config %>,
		loaded: false,
		loader: null
	};
</script>

<script type="text/javascript" defer src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" defer src="https://<%= process.env.APP_HOST == 'server' ? 'www.rollyt.com' : 'rollyt-dev.com:3001' %>/socket.io/socket.io.js"></script>
<script type="text/javascript" defer src="/node_modules/bluebird.min.js"></script>

<% if (process.env.NODE_ENV !== 'production') { %>
<script type="text/javascript" defer src="/node_modules/loaderjs.bundle.min.js"></script>
<script type="text/javascript" defer src="/node_modules/lodash.min.js"></script>
<script type="text/javascript" defer src="/node_modules/jquery.min.js"></script>
<script type="text/javascript" defer src="/node_modules/async.min.js"></script>
<script type="text/javascript" defer src="/node_modules/mousetrap.min.js"></script>
<script type="text/javascript" defer src="/node_modules/enquire.min.js"></script>
<script type="text/javascript" defer src="/node_modules/validator.min.js"></script>
<script type="text/javascript" defer src="/node_modules/perfect-scrollbar.min.js"></script>
<script type="text/javascript" defer src="/node_modules/awesomplete.js"></script>
<script type="text/javascript" defer src="/node_modules/numeral.min.js"></script>
<script type="text/javascript" defer src="/node_modules/moment.min.js"></script>
<script type="text/javascript" defer src="/node_modules/store.min.js"></script>
<script type="text/javascript" defer src="/node_modules/toastr.min.js"></script>
<script type="text/javascript" defer src="/node_modules/push.min.js"></script>
<script type="text/javascript" defer src="/node_modules/tippy.min.js"></script>
<script type="text/javascript" defer src="/node_modules/mithril.min.js"></script>
<script type="text/javascript" defer src="/node_modules/mithril-data.min.js"></script>
<% } %>

<script type="text/javascript" defer src="/static/app/dist/app.vendor.js"></script>
<script type="text/javascript" defer src="/static/app/dist/app.bundle.js"></script>

<%- include('partials/foot') -%>


