/**
 * Anchor CSS
 *
 * Enables an element to dock or anchor to corners and sides.
 *
 * ----------------------------------------------------------------
 * Relatively anchor to parent element (not to window)
 * ----------------------------------------------------------------
 * 
 * To relatively anchor an element to its direct parent element, apply 
 * "position: relative;" style to parent element OR by using class "an-wrap".
 *
 * e.g. <div class="an-wrap">
 * 			<div class="anchor top-left bottom-right">
 * 				...
 * 			</div>
 * 		</div>
 *
 * ----------------------------------------------------------------
 * Anchor to edges
 * ----------------------------------------------------------------
 *
 * If you want anchor an element to edge, it must have a single direct child
 * element that wraps the content.
 *
 * e.g.	<div class="anchor middle-center">
 * 			<div> <----------------------------- wrapper
 * 				<img ...> <--------------------- content
 * 				<span>...</span> <-------'
 * 			</div>
 * 		</div>
 * 
 */

.anchor
	display block
	position absolute
	overflow visible

.an-wrap
	position relative

.an-overflow-auto
	overflow auto

.an-overflow-hide
	overflow: hidden

.an-full
	height 100%
	width 100%

.an-full-height
	height 100%

.an-full-width
	width 100%
	
/* - - - ANCHOR CORNERS - - - - - - - - - - - - - - - - - - - - - */

.an-top-left
	top 0
	left 0

.an-top-right
	top 0
	right 0

.an-bottom-left
	bottom 0
	left 0

.an-bottom-right
	bottom 0
	right 0
	
/* - - - ANCHOR EDGES - - - - - - - - - - - - - - - - - - - - - */

.an-top-center
	top 0
	left 50%

.an-top-center > *, .an-bottom-center > *, .an-middle-center > *
	position relative
	left -50%
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

.an-middle-left
	left 0
	top 50%

.an-middle-left > *, .an-middle-center > *, .an-middle-right > *
	position relative
	-webkit-transform translateY(-50%)
	transform translateY(-50%)
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

.an-middle-center
	left 50%
	top 50%

.an-middle-right
	right 0
	top 50%

.an-bottom-center
	bottom 1px
	left 50%
	
/*****************************************************************
 * This section is the mixin equivalent.
 *****************************************************************/

anchor()
	display block
	position absolute
	overflow visible

an-wrap()
	position relative

an-overflow-auto()
	overflow auto

an-overflow-hide()
	overflow: hidden

an-full()
	height 100%
	width 100%

an-full-height()
	height 100%

an-full-width()
	width 100%
	
/* - - - ANCHOR CORNERS - - - - - - - - - - - - - - - - - - - - - */

an-fill()
	an-top-left()
	an-bottom-right()

an-top-left($top = 0, $left = 0)
	anchor()
	top $top
	left $left

an-top-right($top = 0, $right = 0)
	anchor()
	top $top
	right $right

an-bottom-left($bottom = 0, $left = 0)
	anchor()
	bottom $bottom
	left $left

an-bottom-right($bottom = 0, $right = 0)
	anchor()
	bottom $bottom
	right $right
	
/* - - - ANCHOR EDGES - - - - - - - - - - - - - - - - - - - - - */

x-an-center()
	& > *
		position relative
		left -50%
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		
x-an-middle()
	& > *
		position relative
		-webkit-transform translateY(-50%)
		transform translateY(-50%)
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box

an-top-center($top = 0, $hor = 50)
	anchor()
	top ($top)%
	left ($hor)%
	x-an-center()

an-bottom-center($bottom = 0, $hor = 50)
	anchor()
	bottom ($bottom)%
	left ($hor)%
	x-an-center();
	
an-middle-left($ver = 50)
	anchor()
	left 0
	top ($ver)%
	x-an-middle()
	
an-middle-right($ver = 50)
	anchor()
	right 0
	top ($ver)%
	x-an-middle()
	
an-middle-center($ver = 50, $hor = 50)
	anchor()
	left ($hor)%
	top ($ver)%
	x-an-center()
	x-an-middle()