<h1>The New Way to <span style="border-bottom: 0.2rem solid #cc181e;">YouTube</span></h1>
<p>Rollyt is a <a href="https://www.google.ae/search?q=feature-rich#q=feature-rich" target="_blank">feature-rich</a> media player for YouTube that provides an all-new experience of playing Youtube videos.</p>
<p>Rollyt focuses more on playing videos and playlists while YouTube is more on social and video sharing.</p>