<section id="disclaimer" class="center f6 lh-copy mw7">
	<!-- Start -->

	<h1>Disclaimer</h1>

	<p>This disclaimer ("Disclaimer", "Agreement") is an agreement between Website Operator ("Website Operator", "us", "we" or "our") and you ("User", "you" or "your"). This Disclaimer sets forth the general guidelines, terms and conditions of your use of the <a target="_blank" rel="nofollow" href="http://www.rollyt.com">http://www.rollyt.com</a> website and any of its products or services (collectively, "Website" or "Services").</p>

	<h2>Representation</h2>

	<p>Any views or opinions represented in this Website are personal and belong solely to Website Operator and do not represent those of people, institutions or organizations that the owner may or may not be associated with in professional or personal capacity, unless explicitly stated. Any views or opinions are not intended to malign any religion, ethnic group, club, organization, company, or individual.</p>

	<h2>Content and postings</h2>

	<p>You may not modify, print or copy any part of the Website. Inclusion of any part of this Website in another work, whether in printed or electronic or other form, or inclusion of any part of the Website in another website by embedding, framing or otherwise without the express permission of Website Operator is prohibited. </p>

	<p>We do not create or store any Contents such as Videos, Channels, Playlists and Comments on our server. All the Contents available on this Website are directly provided by Users, Google and YouTube through their Data API and Player API.</p>

	<h2>Indemnification and warranties</h2>

	<p>While we have made every attempt to ensure that the information contained on the Website is correct, Website Operator is not responsible for any errors or omissions, or for the results obtained from the use of this information. All information on the Website is provided "as is", with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied. In no event will Website Operator be liable to you or anyone else for any decision made or action taken in reliance on the information on the Website or for any consequential, special or similar damages, even if advised of the possibility of such damages. Furthermore information contained on the Website and any pages linked to from it are subject to change at any time and without warning.</p>

	<p>We reserve the right to modify this Disclaimer at any time, effective upon posting of an updated version of this Disclaimer on the Website. When we do we will  post a notification on the main page of our Website. Continued use of the Website after any such changes shall constitute your consent to such changes. Policy was created with <a style="color:#222" target="_blank" title="Create disclaimer" href="https://www.websitepolicies.com/disclaimer-generator">WebsitePolicies.com</a></p>

	<h2>Acceptance of this disclaimer</h2>

	<p>You acknowledge that you have read this Disclaimer and agree to all its terms and conditions. By accessing the Website you agree to be bound by this Disclaimer. If you do not agree to abide by the terms of this Disclaimer, you are not authorized to use or access the Website.</p>

	<h2>Contacting us</h2>

	<p>If you have any questions about this Disclaimer, please contact us.</p>

	<p>This document was last updated on August 2, 2017</p>

	<!-- End -->
</section>