<section class="ph2 mw6 center">
    <%- include('./description') -%>
</section>
<section class="features ph2">
    <%- include('./key-features') -%>
    <br>
    <br>
    <br>
    <h2>The Mighty All In One Playlist!</h2>
    <span>&mdash; Rollyt Playlist &mdash;</span>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <td style="height: 50px">&nbsp;</td>
            <td class="feature-image" rowspan="10">
                <img src="/static/status/construction/playlist.png" alt="Flexible Playlist with Multiple Different Item Types" title="The Mighty All In One Playlist" style="min-width: 540px;">
            </td>
            <td>Share your player and let friends play their favorite videos in.</td>
        </tr>
        <tr>
            <td style="height: 260px">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 72px">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 47px">Video</td>
            <td>Playing a single video.</td>
        </tr>
        <tr>
            <td style="height: 112px">Channel</td>
            <td>Add in a channel and play all its videos. Sort it by Date to play newest first, or by Views or by Ratings.</td>
        </tr>
        <tr>
            <td style="height: 127px">Youtube Playlist</td>
            <td>Youtube playlist in Rollyt playlist. Set to play only 1 video in sub-item then skip to the next main-item.</td>
        </tr>
        <tr>
            <td style="height: 122px">Related Videos</td>
            <td>Randomly play all related videos of a video.</td>
        </tr>
        <tr>
            <td style="height: 107px">Popular Videos</td>
            <td>Play all popular videos in your region. Filter it by category like Music, Sports, Gaming and etc.</td>
        </tr>
        <tr>
            <td style="height: 92px">Search Results</td>
            <td>Play all videos from a search results with filters.</td>
        </tr>
        <tr>
            <td>Liked Videos</td>
            <td>And if you like to play your liked videos from Youtube.</td>
        </tr>
    </table>
</section>