<h2>What You'll Get</h2>
<ul class="tl bullet-check">
    <li class="mb3">
        <b>SuperB Player</b> <span class="silver">&mdash;</span> Queue different types of items such as videos, channels, playlists, related videos and search result.
    </li>
    <li class="mb3">
        <b>Flexible Playlist</b> <span class="silver">&mdash;</span> Smoothly create a playlist of mixed-item on the fly, while playing it.
    </li>
    <li class="mb3">
        <b>Auto-Update Playlist</b> <span class="silver">&mdash;</span> Stay up-to-date and watch the latest videos everytime you play a playlist.
    </li>
    <li class="mb3">
        <b>Without Interruption</b> <span class="silver">&mdash;</span> Easily navigate to pages and find your next video while watching.
    </li>
    <li class="mb3">
        <b>Filtered Items</b> <span class="silver">&mdash;</span> Forgot those videos that you don't like and only play wanted videos in the playlist.
    </li>
    <li class="mb3">
        <b>Player Sharing</b> <span class="silver">&mdash;</span> Remotely control your player by your friends.
        <br>
        <span class="f6 dark-green mt1 ml3 dib">
            Got friends that want to play music videos in your house? 
            <br>Don't unplug the speaker or disconnect the bluetooth! 
            <br>Just share your player!
        </span>
    </li>
    <li class="mb3">
        <b>Karaoke Mode</b> <span class="silver">&mdash;</span> Enhance your singing with friends experience.
        <br>
        <span class="f6 dark-green mt1 ml3 dib">
            Let your friends queue up karaoke videos through Player Sharing!
        </span>
    </li>
    <li class="mb3">
        <b>Flexible Video-Feed Page</b> <span class="silver">&mdash;</span> Control your feed page the way you like.
    </li>
    <li class="mb3">
        <b>Organized Layout</b> <span class="silver">&mdash;</span> Easy to navigate library for your favorite videos, playlists and channels.
    </li>
    <li class="mb3">
        Clean and simple user interface.
    </li>
    <li class="mb3">
        And a lot more ...
    </li>
</ul>