    	<%
			if (locals.scripts) {
				for (var i = locals.scripts.length - 1; i >= 0; i--) {
					%>
						<script type="text/javascript" src="<%- locals.scripts[i] %>"></script>
					<%
				}
			}
		%>
    </body>
</html>