<!DOCTYPE html>
<html>
	<head>
		<title>
			Rollyt - YouTube Player
		</title>
		<meta content="The Ultimate Player for YouTube" name="description"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/dark/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/images/icons/dark/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/images/icons/dark/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/images/icons/dark/manifest.json">
		<link rel="mask-icon" href="/static/images/icons/dark/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/static/images/icons/dark/favicon.ico">
		<meta name="msapplication-config" content="/static/images/icons/dark/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="/static/app/libs/normalize/normalize.min.css"/>
		<link rel="stylesheet" href="/static/app/libs/tachyons/tachyons.min.css"/>
		<link rel="stylesheet" href="/static/web/dist/index.web.css"/>
		<base target="_top">
		<style type="text/css">
			body {
				<%- locals.production ? 'overflow: hidden !important;' : '' -%>
				color: #333;
			}
		</style>
		<%
			if (locals.styles) {
				for (var i = locals.styles.length - 1; i >= 0; i--) {
					%>
						<link rel="stylesheet" type="text/css" href="<%- locals.styles[i] %>">
					<%
				}
			}
		%>
	</head>
	<body class="f6 lh-copy <%= locals.class %>">
