@font-face {
  font-family: 'icomoon';
  src:
    url('/static/app/libs/icomoon/fonts/icomoon.ttf?mgk7ms') format('truetype'),
    url('/static/app/libs/icomoon/fonts/icomoon.woff?mgk7ms') format('woff'),
    url('/static/app/libs/icomoon/fonts/icomoon.svg?mgk7ms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-av_timer:before {
  content: "\e01b";
}
.icon-block:before {
  content: "\e14b";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-bug_report:before {
  content: "\e868";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-not_interested:before {
  content: "\e033";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-drag_handle:before {
  content: "\e25d";
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-first_page:before {
  content: "\e5dc";
}
.icon-flip_to_front:before {
  content: "\e883";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-star:before {
  content: "\e838";
}
.icon-help:before {
  content: "\e887";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lock:before {
  content: "\e897";
}
.icon-import_export:before {
  content: "\e0c3";
}
.icon-indeterminate_check_box:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e88e";
}
.icon-input:before {
  content: "\e890";
}
.icon-link:before {
  content: "\e157";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-library_books:before {
  content: "\e02f";
}
.icon-list:before {
  content: "\e896";
}
.icon-sync:before {
  content: "\e627";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-pause:before {
  content: "\e034";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-playlist_add:before {
  content: "\e03b";
}
.icon-playlist_play:before {
  content: "\e05f";
}
.icon-public:before {
  content: "\e80b";
}
.icon-queue_music:before {
  content: "\e03d";
}
.icon-refresh:before {
  content: "\e5d5";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-warning:before {
  content: "\e002";
}
.icon-save:before {
  content: "\e161";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-share:before {
  content: "\e80d";
}
.icon-shuffle:before {
  content: "\e043";
}
.icon-skip_next:before {
  content: "\e044";
}
.icon-skip_previous:before {
  content: "\e045";
}
.icon-slideshow:before {
  content: "\e41b";
}
.icon-sort:before {
  content: "\e164";
}
.icon-sort_by_alpha:before {
  content: "\e053";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-stop:before {
  content: "\e047";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-volume_down:before {
  content: "\e04d";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-web:before {
  content: "\e051";
}
.icon-wifi_tethering:before {
  content: "\e1e2";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
