<%-
	include('../partials/head-web', {
		class: ''
	})
-%>

<main class="center mw7 pt2 pb6 f6 lh-copy pa4">
	<h1 class="tc mv5">Open Beta Testing Agreement</h1>
	<p>This is an agreement, effective, between Website Operator ("Website Operator", "us", "we" or "our") and you ("Tester", "user", "you" or "your"), in which Tester agrees to test www.rollyt.com (“Website”, "Rollyt") and keep us aware of the test results.</p>
	<h3>1. Tester's Obligations</h3>
	<p>Tester shall test the Website under normally expected operating conditions in Tester's environment during the test period. Tester shall gather and report test data as agreed upon.</p>
	<h3>2. Trade Secret</h3>
	<p>The Website is proprietary to, and a valuable trade secret of, Website Operator. It is entrusted to Tester only for the purpose set forth in this Agreement. Tester shall maintain the Website in the strictest confidence. Tester will not, without Website Operator's prior written consent:</p>
	<ol type="a">
		<li>disclose any information about the Website, its design and performance specifications, and its code;</li>
		<li>copy any portion of the Website or documentation; or</li>
		<li>reverse engineer, decompile or disassemble the Website or any portion of it.</li>
	</ol>
	<h3>3. Disclaimer of Warranty</h3>
	<p>The Website is a test product and its accuracy and reliability are not guaranteed. Tester shall not rely exclusively on the Website for any reason. Tester waives any and all claims Tester may have against Website Operator arising out of the performance or nonperformance of the Website.</p>
	<p>THE WEBSITE IS PROVIDED AS IS, AND WEBSITE OPERATOR DISCLAIMS ANY AND ALL REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO IT, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
	<h3>4. Limitation of Liability</h3>
	<p>Website Operator shall not be responsible for any loss or damage to Tester or any third parties caused by the Website. WEBSITE OPERATOR SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGE, WHETHER BASED ON CONTRACT OR TORT OR ANY OTHER LEGAL THEORY, ARISING OUT OF ANY USE OF THE WEBSITE OR ANY PERFORMANCE OF THIS AGREEMENT.</p>
	<h3>5. No Rights Granted</h3>
	<p>This Agreement does not constitute a grant or an intention or commitment to grant any right, title or interest in the Website or Website Operator's trade secrets to Tester. Tester may not sell or transfer any portion of the Website to any third party or use the Website in any manner to produce, market or support its own products. Tester shall not identify the Website as coming from any source other than Website Operator.</p>
	<div class="tc mt5">
		<form action="/backdoor/openbeta/agree" method="get">
			<input type="checkbox" name="agree" id="checkbox_agree">
			<label for="checkbox_agree">I agree to the Open Beta Testing Agreement</label>
			<br>
			<br>
			<input type="hidden" name="token" value="<%= locals.token %>">
			<button class="ph3 pa2">Continue</button>
		</form>
	</div>
</main>

<%- include('../partials/foot') -%>


