<%-
	include('../partials/head-web', {
		class: 'tc'
	})
-%>

<main class="pa4 f6 lh-copy pa4">
	<% if(locals.errors) { 
		locals.errors.forEach(function(error) {
			%> <p class="red"><%= error.msg %></p> <%
		});
		%> 
			<form action="/backdoor/openbeta">
			    <input type="submit" value="Go Back" />
			</form>
		<%
	} else { %>
		<p>Thank you for testing!</p>
		<p><b id="log">Redirecting...</b></p>
		<p><a href="/">Click here</a> to redirect now.</p>
		<script type="text/javascript">
			(function() {
				var c = 10,
				log = document.getElementById('log'),
				text = ('innerText' in log) ? 'innerText' : 'textContent';
				(function redirect() {
					if (c<=0) {
						window.location.replace('/');
					} else {
						setTimeout(redirect, 1000);
						log[text] = 'Redirecting... in ' + c;
					}
					c--;
				})();
			})();
		</script>
	<% } %>
</main>

<%- include('../partials/foot') -%>


