
.text
	// font-size 40*$px
	width 200*$px
	background-color #aaa
	span.a
		background-color red
		width 100%
		font-size 16*$px
		text-height(100*$px)
	span.b
		background-color green
		display inline-block
		font-size 16*$px
