<div id="signin">
	<div class="wrap">
		<h2>Sign In</h2>
		<div class="body">
			<% if (locals.user) { %>
				<p class="tagline signedin">You are already singed in!</p>
			<% } else { %>
				<p class="tagline">Experience the best of Rollyt!</p>
			<% } %>
			<div class="description">
				<p><b>Once signed in, you will be able to:</b></p>
				<ul>
					<li>Save and open a Rollyt playlist</li>
					<li>View your media library and folders</li>
					<li>Share your player or connect to other user's player</li>
					<li>Bookmark a channel, playlist or video to your library</li>
					<li>Import your Youtube playlists, subscriptions, and videos</li>
					<li>And more ...</li>
				</ul>
			</div>
			<button onclick="App.do('signin')"
			class="<%- locals.user ? 'disabled' : '' %>" 
			<%- locals.user ? 'disabled' : '' %>
			></button>
			<div class="subline">Rollyt only uses your basic account<br>info and nothing else.</div>
		</div>
		<div class="footer">
			By signing in, you agree to our <a href="#/player.frame/about/terms">Terms & Conditions</a> and <a href="#/player.frame/about/privacy">Privacy Policy</a>
		</div>
	</div>
</div>