#about
	overflow hidden
	p
		display inline-block
	ul 
		list-style-image: url('/static/images/icons/check-symbol.png')
		li
			text-align left
			line-height 140%
			// margin-bottom 1.2rem
			padding-left 0.5rem
	.features 
		ul
			display inline-block
			max-width 32rem
			margin 0 auto
		table
			margin 0 auto
			border-spacing 0
			border-collapse collapse
			tr td
				box-sizing border-box
				&:first-child
					text-align right
					padding-right 1rem
					width 250px
				&:last-child
					text-align left
					padding-left 1rem
					width 250px
					font-size 85%
					line-height 1.1rem
					min-width 190px
				