
header
	background-color $color_theme
	a
		text-decoration none
		&:hover
			background-color lighten($color_theme, 5)
	
#root > .panel-tab
	> .tabs
		background-color lighten($color_theme, 50)
		a
			&.true, &:hover
				background-color lighten($color_theme, 55)
	> .panels
		padding 15*$px
		> div > div
			margin-bottom 10*$px

header, #root > .panel-tab > .tabs
	a
		display inline-block
		padding 10*$px 15*$px
		cursor pointer
		
div.jsoneditor-tree table.jsoneditor-tree
	margin-bottom 150*$px
	
#users
	.users
		col(0.35)
	.accounts
		col(0.65)
		.pure-table td.avatar
			padding 0
			img
				display block
				margin 0 auto