// Tachyons Extentions

.h3-125
	height 50*$px

.h46px
	height 46*$px

.h34px
	height 34*$px

.h24px
	height 24*$px

.h16px
	height 16*$px
	
.h12px
	height 12*$px

.bg-prime
	background-color #1062ab
	
.bg-far-white
	background-color #e6e6e6
	
.bg-dark-white
	background-color #d9d9d9