
$header_line_height = 30*$px

.block
	background-color $color_white
	margin-bottom 22*$px
	.block-head
		clearfix()
		padding 6*$px 12*$px 6*$px 14*$px
		background-color darken($color_white, 5)
		border-left 15*$px solid $color_theme
		position sticky
		top 0
		z-index 20
		.block-head-content
			.title > *
				vertical-align middle
			h1
				display inline-block
				margin 0
				padding 0
				font-size 16*$px
				font-weight 500
				line-height $header_line_height
				margin-right 20*$px
			.folder
				background-color darken($color_white, 10)
				display inline-block
				font-size 14*$px
				margin-right 6*$px
				.icon
					font-size 20*$px
					margin-left 5*$px
				select
					max-width 140*$px
					min-width 80*$px
					// @media (max-width 1080*$px)
					// 	max-width 100*$px
			.actions
				float right
				> *
					vertical-align middle // Windows fix
				span.space
					color darken($color_white, 20)
					font-size 18*$px
					margin 0 6*$px
				.textbox
					height 22*$px
					font-size 12*$px
					vertical-align middle
					margin -(1*$px) 5*$px 0 5*$px 
					.button
						font-size 12*$px
				.button-text
					width initial
					display inline-block
					padding 0 8*$px
					> * 
						line-height $header_line_height
					span
						font-size 14*$px
						margin-left 6*$px
						@media (max-width 1140*$px)
							display none
	.block-body
		padding-top 18*$px
		> *
			padding 0 20*$px 10*$px
	.actions, .nav
		a
			height $header_line_height
			width @height
			font-size 20*$px
			&:hover
				background-color darken($color_light, 8)
			&:active
				background-color darken($color_light, 12)
				
.block[draggable=true]
	cursor move

$width_tile_image = 88*$px
.collection-block
	.loading-preview
		margin-bottom 40*$px
	ul
		listview()
		cf()
		// margin-bottom 6*$px
		li
			thumbnail-context()
			font-size 13.4*$px
			a.title
				color $color_dark_link
				text-decoration none
				font-weight 500
			a.channel
				text-decoration none
				&:hover
					color $color_dark_link_hover
					text-decoration underline
	&.view-thumbnail
		li
			margin-bottom 12*$px
			vertical-align top
			.thumbnail
				aspect-ratio(16, 9)
				margin-bottom 4*$px
				overflow hidden
				.content
					cursor pointer
					background-image url(/static/images/thumbnails/thumbnail_320x180_trans.png)
					background-size cover
				.img
					display inline-block
					line-height 0
					vertical-align middle
					width 100%
					height 100%
					img
						width 100%
					> .icon
						color #fff;
						position absolute
						left 0
						font-size 32*$px
						z-index 3
						line-height initial
						display none
				span
					font-size 11*$px
					background-color alpha($color_black, 0.5)
					color darken($color_light_text, 15)
					position absolute
					right 0
					bottom @right
					padding 2*$px 2*$px 0 3*$px
			a.title
				text-height(16*$px)
				width 100%
				margin-bottom 2*$px
				&:hover
					text-decoration underline
				span
					margin-right 4*$px
					vertical-align middle
			div.count
				color $color_theme_secondary
				i
					font-size 16*$px
					margin-right 4*$px
			a.channel
				color lighten($color_dark_text, 25)
				font-size 11.4*$px
				position relative
			&:hover
				.thumbnail
					span
						display none
			&.playing .thumbnail .img .icon
				display initial
				background-color $color_theme_secondary
				color $color_white
		&.thumbnail-playlist
			li .thumbnail 
				.actions
					right 10%
					bottom @right
				a.img
					playlist-thumbnail()
	&.view-tile
		li
			margin-bottom 12*$px
			> *
				vertical-align top
			.thumbnail
				aspect-ratio(1, 1)
				display inline-block
				margin-right 6*$px
				float left
				width $width_tile_image
				height @width
				.content
					cursor pointer
					background-image url(/static/images/thumbnails/thumbnail_88x88_dark.png)
					background-size cover
				a.img
					width 100%
					height 100%
					display inline-block
					> .icon
						color #fff;
						position absolute
						left 0
						font-size 32*$px
						z-index 3
						display none
				img
					width 100%
			&.playing .thumbnail .img .icon
				display initial
				background-color $color_theme_secondary
				color $color_white
			.info
				margin-top 2*$px
				margin-left $width_tile_image + 6*$px
				font-size 95%
				color lighten($color_dark_text, 15)
				.icon
					font-size 120%
					margin-right 4*$px
				a.title
					font-size 120%
					margin-bottom 5*$px
					display inline-block
					width 100%
					&:hover
						text-decoration underline
				> div
					margin-bottom 2*$px
					> *
						vertical-align middle
			@media (max-width 1000*$px)
				.thumbnail
					width $width_tile_image * 0.66
					height @width
					a.button
						display none
						&:last-child
							display inline-block
				.info
					margin-left ($width_tile_image * 0.66) + 8*$px
	&.view-list
		ul
			margin-bottom 14*$px
			li
				stack()
				//display inline-block
				position relative
				// overflow hidden
				padding-left 27*$px
				padding-right 30*$px
				border-top 1*$px solid darken($color_white, 8)
				.thumbnail
					display none
				> *
					vertical-align middle
					line-height 18*$px
				> .icon
					font-size 120%
					position absolute
					left 6*$px
					padding-top 4*$px
				.title
					margin-right 12*$px
					display inline-block
					padding 4*$px 0
					max-height 40*$px
					overflow hidden
					vertical-align middle
				.channel
					color lighten($color_dark_text, 25)
					white-space nowrap
					display inline-block
					padding-bottom 4*$px
					vertical-align bottom
					&:hover
						text-decoration none
				.button
					position absolute
					right 0
					top 0
					cursor pointer
					height 100%
					padding 0 6*$px
					font-size 120%
					background-color darken($color_white, 8)
					display none
					&:hover
						background-color darken($color_white, 12)
					&:active
						background-color darken($color_white, 15)
				&:hover
					background-color darken($color_white, 8)
					.button
						display block
				&:first-child
					border-top none

.collapse
	.collection-block
		.nav
			text-align center
			@media (min-width 1000*$px)
				a
					width 160*$px
					color darken($color_white, 26)
					position relative
					font-size 24*$px
					i
						vertical-align text-bottom
				^[1]:hover .nav a
					color $color_dark_text
					&:hover
						background-color darken($color_white, 8)
					&:active
						background-color darken($color_white, 12)
	&.bp-large
		.collection-block
			&.view-thumbnail
				li
					@media (min-width 1701*$px)
						col(1/6, cycle: 6, gutter: 1.0)
					@media (min-width 1501*$px) and (max-width 1700*$px)
						col(1/5, cycle: 5, gutter: 1.1)
					@media (min-width 1301*$px) and (max-width 1500*$px)
						col(1/4, cycle: 4, gutter: 1.2)
					@media (min-width 1101*$px) and (max-width 1300*$px)
						col(1/3, cycle: 3, gutter: 1.3)
					@media (max-width 1100*$px)
						col(1/2, cycle: 2, gutter: 1.4)
			&.view-tile
				li.item-channel
					@media (min-width 1501*$px)
						col(1/3, cycle: 3, gutter: .8)
					@media (min-width 1101*$px) and (max-width 1500*$px)
						col(1/2, cycle: 2, gutter: .9)
					@media (max-width 1100*$px)
						col(1/1, cycle: 1)
	&.bp-medium
		.collection-block
			&.view-tile
				li.item-channel
					@media (min-width 891*$px)
						col(1/2, cycle: 2, gutter: .9)
					@media (min-width 751*$px) and (max-width 890*$px)
						col(1/1, cycle: 1)
					@media (min-width 561*$px) and (max-width 750*$px)
						col(1/2, cycle: 2, gutter: .9)
					@media (max-width 560*$px)
						col(1/1, cycle: 1)
			&.view-list
				.button
					display initial
					background-color initial
	@media (max-width 1000*$px)
		.nav
			a
				width 160*$px
	@media (max-width 720*$px)
		.block
			margin-bottom 1*$px
			.block-body, .collection-block
				padding 4*$px
		
.expand
	.block
		margin-bottom 1*$px
		.block-head
			.button-text
				span
					display none
		.block-body, .collection-block
			padding 6*$px
	.collection-block
		.nav
			text-align center
			width 100%
			a
				width 160*$px
		&.view-thumbnail
			ul
				li
					col(1/2, cycle: 2)
					for num in (1..4)
						&:nth-child({num})
							display inline-block
		&.view-tile
			li
				col(1/1, cycle: 1)
		&.view-list
			padding-left 0
			padding-top 0
			padding-bottom 0

.desktop
	.collapse.bp-medium
		.collection-block.view-thumbnail
			li
				@media (min-width 891*$px)
					col(1/3, cycle: 3, gutter: 1.3)
				@media (min-width 751*$px) and (max-width 890*$px)
					col(1/2, cycle: 2, gutter: 1.4)
				@media (min-width 561*$px) and (max-width 750*$px)
					col(1/3, cycle: 3, gutter: 1.3)
				@media (max-width 560*$px)
					col(1/2, cycle: 2, gutter: 1.2)

.mobile
	.collapse
		.block-head
			padding-left 12*$px
			padding-right 15*$px
			top -1px // A fix for mobile causing 1px top gap
			.block-head-content
				position relative
				.title 
					display block
					box-sizing border-box
					overflow hidden
					margin-right 32*$px
					h1
						margin 0
						margin-right 34*$px
						white-space nowrap
				> a
						font-size 21*$px
						position absolute
						right 0
						top 0
						height 30px
						width 30px
						i
							vertical-align text-bottom
				.actions
					float initial
					text-align center
		.collection-block.view-thumbnail li 
			margin-bottom 14*$px
			.thumbnail
				margin-bottom 6*$px
			a.title
				text-height(16*$px)
				font-size 14*$px
			a.channel
				font-size 12*$px
		&.bp-medium
			.collection-block.view-thumbnail
				li
					@media (min-width 891*$px)
						col(1/2, cycle: 2, gutter: 1.3)
					@media (min-width 751*$px) and (max-width 890*$px)
						col(1/1, cycle: 1, gutter: 1.4)
					@media (min-width 561*$px) and (max-width 750*$px)
						col(1/2, cycle: 2, gutter: 1.3)
					@media (max-width 560*$px)
						col(1/1, cycle: 1, gutter: 1.2)