
$color_bg = $color_white
$shadow = 5px 5px 0px -1px rgba(0,0,0,0.20)

.context
	position absolute
	z-index 1000
	.close
		display none
		background-color $color_dark
		position relative
		z-index 1
		padding 6*$px
		text-align center
		color $color_white
	&.pos-left
		#context-menu
			ul
				left initial
				right 100%
			> ul
				left initial
				right initial

#context-menu
	color $color_dark_text
	ul
		listview()
		visibility hidden
		background-color $color_bg
		box-shadow $shadow
		border 1px solid darken($color_bg, 15)
		position absolute
		top 0
		left 100%
		li
			font-size 13*$px
			position relative
			.name
				margin-right 30*$px
			a
				padding 5*$px 10*$px 6*$px 10*$px
				position relative
				display block
				cursor pointer
				white-space nowrap
				min-width 140*$px
				.icon
					margin-right 10*$px
					font-size 18*$px
					vertical-align sub
					cursor pointer
				.next
					position: absolute;
					right: 10*$px;
					.icon
						margin-right -4*$px
			a:hover
				background-color darken($color_bg, 8)
		li:hover > ul
			visibility visible
		li.sep-after
			border-bottom 1px solid darken($color_bg, 10)
			padding-bottom 4*$px
			margin-bottom 4*$px
		li.sep-before
			border-top 1px solid darken($color_bg, 10)
			padding-top 4*$px
			margin-top 4*$px
	> ul
		visibility visible
		position relative
		top 0
		left 0

#context-star
	background-color $color_bg
	border 1px solid darken($color_bg, 15)
	padding 10*$px
	font-size 14*$px
	box-shadow $shadow
	.title
		font-size 18*$px
		padding 5*$px 0 10*$px 0
	.folder
		margin 10*$px 0 24*$px 0
		span
			margin-right 10*$px
			vertical-align middle
		select
			min-width 180*$px
			margin-right 4*$px
		.button 
			i
				color lighten($color_dark_text, 10)
				font-size 24*$px
			&:hover i
				color lighten($color_dark_text, 20)
	.actions
		cf()
		.button.right
			float right
			margin-left 4*$px
			
#context-sharing
	background-color $color_bg
	border 1px solid darken($color_bg, 15)
	text-align center
	padding 10*$px
	min-width 300*$px
	box-shadow $shadow
	h4
		margin 0 0 10*$px 0
		padding-bottom 6*$px
		border-bottom 1*$px solid darken($color_bg, 10)
		overflow hidden
	a
		color $color_dark_link
		&.button
			color lighten($color_dark_text, 10)
	button
		margin-top 10*$px
		color #363636
		margin-bottom 10*$px
		font-size 14*$px
	button.head
		font-size 16*$px
		padding 6*$px 10*$px 5*$px 
	.disconnect 
		margin-top 10*$px
		border-top 1*$px solid darken($color_bg, 10)
		padding-top 10*$px
		a
			font-size 90%
			display block
			padding 4*$px 0
	.lobby .body
		padding 16*$px 0
		.info
			margin-top 20*$px
	.key
		.qrcode
			img
				width 200*$px
				height @width
		.actions
			margin-top 10*$px
			button
				margin-right 6*$px
				margin-top 0
				margin-bottom 0*$px
		.strcode
			padding 10*$px
			background-color darken($color_bg, 6)
			width 100%
			margin 0 auto
			text-align center
			border none
			resize none
			overflow hidden
			white-space nowrap
			// letter-spacing 4*$px
	.shareadmin .body
		.panel-tab
			.tabs
				text-align left
				border-bottom 1*$px solid darken($color_bg, 10)
				padding-left 10*$px
				a
					padding 5*$px 10*$px
					display inline-block
					color $color_dark_text
					min-width 76*$px
					text-align center
					&.true
						border-bottom 2*$px solid $color_theme
			.panels
				padding 10*$px
				.users
					text-align initial
					ul
						listview()
						padding-top 10*$px
						padding-bottom 2*$px
						min-height 80*$px
						max-height 160*$px
						overflow auto
						li 
							> *
								line-height 20*$px
								vertical-align middle
							> i
								margin-top -(2*$px)
								margin-right 10*$px
				.options
					.textbox
						display block
	.getroomtoken
		textarea
			text-align center
			font-size 14*$px
			width 250*$px
			height 62*$px
			padding 10*$px
	.getroomqrcode
		.cameraview
			width 300*$px
			height 240*$px
	.getroomsearch
		.search-res
			max-height 280*$px
			overflow auto
			a
				height 34*$px
				position relative
				white-space nowrap
				overflow hidden
				padding 1*$px 0
				img
					float left
				span
					text-height(32*$px, 1)
					font-size 14*$px
					margin-right 30*$px
					color $color_dark_text
					font-weight 500
				.icon
					position absolute
					right 0
					width 30*$px
					text-align center
					line-height 32*$px
					color lighten($color_dark_text, 20)
					background-color $color_white
				&:hover
					background-color darken($color_white, 6)
					.icon
						background-color darken($color_white, 6)
			&.edit .icon
				color #FF725C
	.inroom
		.key
			border-top 1*$px solid darken($color_bg, 10)
			padding-top 10*$px

#context-social
	background-color $color_bg
	border 1px solid darken($color_bg, 15)
	text-align center
	padding 10*$px
	min-width 300*$px
	box-shadow $shadow
	h4
		margin 0 0 6*$px 0
		padding @margin
		font-weight 500
	.follow-us
		> div
			border 1*$px solid darken($color_bg, 10)
			padding 10*$px
		.follow-twitter
			height 50*$px
	// .share-us
	.rrssb-buttons 
		.rrssb-text
			margin-left 8*$px

// - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.mobile
	#contexts
		height 100%
		.context
			top initial
			right 0
			bottom 0
			left 0
			// border-top 1*$px solid darken($color_white, 10)
			box-shadow 0px 0px 20px 0px rgba(0,0,0,0.5)
			background-color darken($color_white, 5)
			> div:first-child
				padding-bottom 40*$px
			.close
				display block
			#context-menu
				ul
					z-index 1
					top initial
					right 0
					left 0
					bottom 0
					visibility visible
					border none
					box-shadow none
					border-bottom 1px solid darken($color_bg, 10)
					li
						font-size 18*$px
						position initial
						a
							padding 6*$px 13*$px 7*$px
							.icon
								vertical-align top
					&.basemenu
						display block
					&.submenu
						display none
						box-shadow 0px 0px 20px 0px rgba(0,0,0,0.5)
					&.show
						display block
			#context-star
				border none
				.folder
					select
						width 70%

.desktop
	#context-sharing
		width 280*$px
		max-width @width