

compact-footer()
	#footer
		height $footer_height_expand
		margin-top -($footer_height_expand)
		.left, .right
			stack()
			text-align center
		.left
			margin-bottom 30*$px

#footer
	height $footer_height
	background-color darken($color_white, 8)
	border-top 1*$px solid darken($color_white, 15)
	margin-top -($footer_height)
	position relative
	box-sizing border-box
	padding 20*$px 20*$px 24*$px 20*$px 
	font-size 12*$px
	line-height 16*$px
	color lighten($color_dark_text, 10)
	cf()
	a
		color $color_dark_link
		// white-space nowrap
	.left
		col(.65)
		max-width 650*$px
		.disclaimer
			margin-bottom 14*$px
			h3
				margin 4*$px 0 6*$px 0
		.actions
			a
				margin-right 8*$px
	.right
		col(.35)
		float right
		text-align right
		padding-right 10*$px
		img
			vertical-align middle
		div
			margin-bottom 4*$px
		div:first-child
			margin-top 8*$px
			margin-bottom 20*$px
		.subtext
			font-size 90%

.collapse
	@media (max-width 750*$px)
		compact-footer()
		
.expand
	compact-footer()