
.loadup
	.left
		.current
			aspect-ratio(16, 9)
		.controls
			background-color #1f1f1f
			height 70*$px
		@media (max-width 1000*$px)
			width 50*$px
			.current, .controls
				display none
	.right
		padding-left 25%
		.right-wrap
			display flex
			.content
				width 100%
				padding 21*$px 20*$px
				.block-content
					height 200*$px
				@media (max-width 720*$px)
					padding 0
			.sidebar
				width 280*$px
				min-width @width
				padding 20*$px 20*$px 20*$px 0
				@media (max-width 750*$px)
					display none
		@media (max-width 1000*$px)
			padding-left 50*$px
		