
#modals
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 500
	.background
		an-fill()
		background-color $color_black
		opacity 0.3
	.modal-window
		an-top-center(10)
		max-width 500*$px
		.modal-content
			background-color $color_white
			min-width 300*$px
			box-shadow 0px 5px 40px 0px rgba(0,0,0,0.65)
			font-size 14*$px
			> div
				padding 16*$px
				padding-bottom 20*$px
			.modal-header
				background-color $color_theme
				color $color_light
				position relative
				padding 10*$px
				.title
					font-size 16*$px
					font-weight 500
				.button
					button()
					background-color $color_theme
					font-size 20*$px
					position absolute
					right 0
					top 0
					height 100%
					width 40*$px
			.actions a
				padding 8*$px 10*$px 6*$px
			&.modal-bg1
				background-image url('/static/images/backgrounds/modal-bg1.png')
				background-repeat no-repeat
			&.modal-bg2
				background-image url('/static/images/backgrounds/modal-bg2.png')
				background-repeat no-repeat
		&.mini
			.modal-content
				font-size 14*$px
				.modal-header
					padding 5*$px 10*$px
					.title
						font-size 12*$px
						font-weight 400
					.button
						font-size 16*$px
						width 30*$px
				.actions
					a
						padding 5*$px 8*$px
			@media (max-width 720*$px)
				width 90%
	.actions
		cf()
		margin-top 20*$px
		.left
			float left
		.right
			float right
	@media (max-width 500*$px)
		.modal-window
			width 100%
			.model-content
				width 100%
	.confirm-action
		// max-width 370*$px
		.body
			margin 10*$px 0 40*$px
			line-height 145%
		.actions
			span
				line-height 26*$px
				font-size 90%
				
// Model Fail
.modal-fail
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 5000
	> div:first-child
		an-fill()
		background-color $color_black
		opacity 0.6
	> div:last-child 
		an-top-center(10)
		> div
			background-color $color_white
			.links a
				color $color_dark_link
