
.folder-tree
	min-height 200*$px
	max-height 400*$px
	overflow-y auto

.folder-manager
	font-size 14*$px
	padding-top 10*$px
	> .actions
		margin-top 10*$px
		.button
			font-size 14*$px
	ul
		list-style none
		padding 0
		margin 0
		li 
			cursor pointer
			padding 0 5*$px 0 8*$px
			&:hover
				background-color darken($color_white, 10)
			.icon
				font-size 18*$px
				margin-top -(2*$px)
			> span
				padding 5*$px 8*$px
				display inline-block
				> span
					font-size 90%
					color lighten($color_dark_text, 40)
					margin-left 10*$px
				.icon
					font-size 98%
					margin-left 4*$px
					color lighten($color_dark_text, 25)
			&:first-child
				margin-top 6*$px
			&:last-child
				margin-bottom 6*$px
			input
				padding 3*$px 7*$px
			.button
				float right
				font-size 18*$px
				color lighten($color_dark_text, 20)
				line-height 24*$px
				display none
				&:hover
					color $color_dark_text
			&:hover
				.button
					display inline-block
					
.desktop
	.folder-manager
		min-width 400*$px
			