
#modals .modal-window .modal-content .select-base
	padding-bottom 20*$px
	max-width 390*$px
	.list
		max-height 404*$px
		overflow auto
		position relative
		ul
			listview()
			li
				cf()
				a
					display inline-block
					width 100%
					padding 5*$px
					box-sizing border-box
					img
						col(.25)
					> div
						col(.75)
						.title
							font-size 110%
							font-weight 500
							margin-top 2*$px
							margin-bottom 6*$px
						.details
							font-size 90%
							color lighten($color_gray, 10)
							i
								vertical-align text-bottom
					&:hover
						background-color darken($color_white, 10)
					&:active
						background-color darken($color_white, 15)
	.loading
		margin 40*$px 0
	