
#modals .add-block
	background-color white
	.panel-tab
		margin-bottom 20*$px
		.tabs
			border-bottom 1*$px solid darken($color_white, 20)
			white-space nowrap
			a
				display inline-block
				padding 6*$px 14*$px
				font-weight 500
				&.true
					box-sizing border-box
					border-bottom 2*$px solid $color_theme
					background-color darken($color_white, 10)
				@media (max-width 350*$px)
					padding-left 8*$px
					padding-right @padding-left
		.panels
			padding 10*$px
		b
			margin-top 10*$px
			display inline-block
		label
			margin 10*$px 0
			display block
		select
			width 100%
		.filter-options
			filter-table()
			// font-size 15*$px
			margin-top 11*$px
		input
			width 100%
			box-sizing border-box
			
.desktop
	.add-block
		min-width 450*$px