
#modals .create-playlist
	background-color white
	form .fields
		padding 0 0 26*$px 0
		> label
			margin 18*$px 0 10*$px
			display block
			&:first-child
				margin-top 10*$px
		> select
			width 100%
		> input[type="text"]
			width 100%
			box-sizing border-box
		> div.field
			margin-top 20*$px
			label.break
				display inline
				i
					vertical-align text-top
			input[type="checkbox"]
				margin-right 6*$px
				vertical-align middle // Fix for windows
	
	