
compact-pinbar()
	padding 4*$px 4*$px 0
	margin-bottom 0

.pinbar
	margin-bottom 6*$px
	// background-color darken($color_light, 12)
	a
		display inline-block
		width 35*$px
		height @width
		vertical-align middle
		overflow hidden
		margin-right 4*$px
		margin-bottom @margin-right
		img
			max-width initial
			height 100%
		&.type-playlist, &.type-localplaylist
			img
				margin-left -(13.5*$px)
		&:hover
			opacity 0.8
		&:active
			opacity 1
		&.drag-spot-up
			margin-left @width + (4*$px)
		&.drag-spot-down
			margin-right @width + (4*$px)
		&.drag-source
			display none
		&.unknown
			background-color lighten($color_dark_normal, 10)
	@media (max-width 720*$px)
		compact-pinbar()
		
.expand
	.pinbar
		compact-pinbar()