
$playlist_action_height = 40*$px
$playlist_title_height = 30*$px
$action_bg_color = darken($color_dark, 8)
$topbar_button_height = 40*$px

#player
	an-wrap()
	color $color_light_text
	background-color $color_dark
	overflow hidden
	height 100%
	.topbar
		user-select(none)
		background-color $color_theme
		position relative
		.logo a
			line-height 0
			img
				height 50*$px
		.mode
			an-top-center()
			> div
				line-height initial
				padding 4*$px 8*$px
				background-color $color_theme_secondary
				font-size 90%
				top 11*$px
		.actions
			.divider
				color darken($color_theme, 10)
			a
				padding 0 8*$px
				font-size 26*$px
				&:hover
					background-color lighten($color_theme, 5)
				&:active
					background-color darken($color_theme, 5)
				&.panel-nav:last-child
					font-weight 300
					padding 0 3*$px
					font-size 20*$px
			&.share
				margin-left auto
				padding-right 8*$px
			&.topbar-menu
				padding-right 8*$px
				color $color_light_text
				a
					color $color_light_text
				@media (max-width 450*$px)
					display none
	.playlist
		an-top-left($topbar_height)
		an-bottom-left()
		display flex
		flex-direction column
		width 100%
		.current
			position relative
			// background-color darken($color_dark, 5)
			background-color $action_bg_color
			// background-color lighten($color_black, 0)
			// Must not touch with iframe otherwise it will jump font rendering
			padding-bottom 1*$px
			padding-left 1*$px
			padding-right @padding-left
			//padding-top @padding-left
			.projvidthumb
				user-select(none)
				position relative
				img
					width 100%
					display block
				h3
					position absolute
					top 0
					left 0
					margin 10*$px
					color #fff
					font-weight normal
					text-shadow 0px 0px 8px rgba(0, 0, 0, 1)
				a
					background-color $color_dark
					button()
		.list
			user-select(none)
			position relative
			width 100%
			height 100%
			.list-title
				box-sizing(border-box)
				height $playlist_title_height
				display flex
				flex-direction column
				justify-content center
				background-color $action_bg_color
				border-bottom 1*$px solid darken(desaturate($color_theme, 40), 5)
				padding 0 10*$px
				white-space nowrap
				color lighten($color_dark_text, 10)
				font-size 95%
				position relative
				.title
					font-size 85%
				.sub
					position absolute
					right 0
					top 0
					line-height $playlist_title_height - 2*$px
					padding 0 10*$px 0 10*$px
					font-size 85%
					background-color $action_bg_color
			&.is-playlist .list-title 
				.title
					color $color_light_text
					font-size 100%
				.sub
					color darken($color_light_text, 40)
			.actions
				height $playlist_action_height
				background-color $action_bg_color
				font-size 20*$px
				position relative
				span
					line-height $playlist_action_height
					display block
					width 100%
					text-align center
					font-size 14*$px
					color darken($color_light_text, 20)
				a.button
					height $playlist_action_height
					width $playlist_action_height
					&:hover
						background-color darken($color_dark, 5)
					&:active
						background-color darken($color_dark, 12)
				a.button.on
					color lighten($color_theme, 30)
				&.bottom
					position absolute
					bottom 0
					width 100%
					background-color lighten($action_bg_color, 5)
					a.button
						&:hover
							background-color lighten($action_bg_color, 2)
						&:active
							background-color darken($action_bg_color, 2)
			ul
				listview()
			ul.left
				an-top-left()
				a.edit-mode
					font-size 90%
			ul.right
				an-top-right()
			.items
				an-top-left($playlist_action_height + $playlist_title_height)
				an-bottom-left()
				&.paginated
					an-bottom-left($playlist_action_height)
					overflow-y auto
				width 100%
				overflow-y auto
				background-image url('/static/images/player/list-bg-medium.png')
				background-repeat no-repeat
				background-position center
				ul
					listview()
				li.item
					stack()
					box-sizing(border-box)
					position relative
					// padding-bottom 8*$px
					&.playing
						a.item-link
							background-color darken($color_dark, 3)
						.bullet
							color lighten($color_theme, 30)
					&.drag-spot-up
						border-top 2px solid darken($color_light, 40)
					&.drag-spot-down
						border-bottom 2px solid darken($color_light, 40)
					.edit
						display none
					> a
						box-sizing(border-box)
						display inline-block
						padding 5*$px 90*$px 7*$px 8*$px
						width 100%
						cursor pointer
					.bullet
						font-size 20*$px
						position absolute
						color lighten($color_dark_text, 30)
						line-height 14*$px
					.right
						position absolute
						right 0
						.time
							font-size 12*$px
							display inline-block
							margin-right 4*$px
							color darken($color_light_text, 20)
						.button
							height 30*$px
							width 30*$px
							font-size 18*$px
							&:hover
								background-color lighten($color_dark, 3)
							&:active
								background-color darken($color_dark, 7)
					.title
						display inline-table
						font-size 13*$px
						letter-spacing 0.5*$px
						margin-left 30*$px
						color $color_light_text
						// padding-top 3*$px
						.name
							text-height(15*$px)
							vertical-align top
							width 100%
							// margin-bottom 2*$px
						.owner
							font-size 85%
							color darken($color_light_text, 50)
							display inline-block
							margin-top 4*$px
						.queue
							margin-left 4*$px
							font-size 11*$px
							vertical-align middle
							color $color_theme_secondary
				&.static li:hover a.item-link
					background-color darken($color_dark, 5)
			.ps-active-y li.item .right
				right $scrollbar_width * 1.1
			.checkbox
				li.item
					.edit
						position absolute
						display block
						width 25*$px
						// height 36*$px
						top 8*$px
						// border-right 1*$px solid darken($color_dark, 5)
						input[type=checkbox]
							margin-left 8*$px
						i.icon
							margin-left 4*$px
							color darken($color_light_text, 40)
							font-weight normal
							line-height 12*$px
							margin-top -(11*$px)
					> a
						padding-left 31*$px
					.itemsub
						margin-left 60*$px
	.player-cover
		an-top-left($topbar_height)
		an-bottom-right()
		display none
		cursor pointer
		overflow hidden
		.info
			text-align center
			color lighten($color_dark, 30)
			font-size 90%
			padding-top 8*$px
			padding-bottom @padding-top
			position relative
			background-color $color_dark
		> span
			an-middle-center()
			> span i
				font-size 26*$px
		&.rotate
			> span > *
				transform rotate(-90deg)
				display inline-block
				width 400*$px
				text-align center
				max-height 2rem
				white-space nowrap
				overflow hidden
				> *
					display inline-block
					line-height 2rem
					vertical-align middle
				.icon
					font-size 24*$px
					margin-right 10*$px
					color lighten($color_theme, 30)

.collapse.de-desktop #player .list .actions a.button		
	@media (max-width 1280*$px)
		width $playlist_action_height - (5*$px)
	@media (max-width 1125*$px)
		&.video
			display none
					
.expand.de-desktop #player .list .actions a.button
	@media (min-width 1000*$px) and (max-width 1420*$px)
		width $playlist_action_height - (5*$px)
	@media (min-width 1000*$px) and (max-width 1250*$px)
		&.video
			display none
	@media (min-width 840*$px) and (max-width 1090*$px)
		width $playlist_action_height - (8*$px)
	@media (min-width 840*$px) and (max-width 900*$px)
		&.video
			display none
	@media (max-width 370*$px)
		&.video
			display none

#player	.itemsub
	font-size 13*$px
	font-weight 300
	margin-left 37*$px
	border-left 1*$px solid lighten($color_dark, 10)
	color darken($color_light_text, 10)
	a
		&:hover
			background-color darken($color_dark, 5)
		&:active
			background-color darken($color_dark, 7)
	li
		position relative
		i
			font-size 15*$px
			position absolute
			color lighten($color_dark_text, 30)
			margin-left 5*$px
			margin-top 1.5*$px
		a
			padding 3*$px 10*$px 3*$px 24*$px
			cursor pointer
		&.playing 
			a
				background-color darken($color_dark, 3)
				&:hover
					background-color darken($color_dark, 5)
			i
				color lighten($color_theme, 30)
	.itemsub-list
		li
			display inline-block
			width 100%
			a
				display block
				span
					text-height(14*$px)
	.bottom
		cf()
		font-size 16*$px
		text-align center
		a
			span(1)
			
	.expand
		.bottom
			a
				span(1/3)
	.settings
		cf()
		li
			display inline-block
			float left
			padding 2*$px 4*$px
			margin-right 1*$px
			font-size 95%
			font-weight 400
			color darken($color_light_text, 30)
			background-color darken($color_dark, 5)

#player .current-body
	video-details()
	h1 a
		color darken($color_light_text, 15)
	.left span
		color darken($color_light_text, 40)
	.bar .actions .button
		&:hover
			background-color lighten($color_dark, 0)
		&:active
			background-color darken($color_dark, 5)
		i
			color darken($color_light_text, 10)
			font-weight normal
	.description
		margin-top 10*$px
		color lighten($color_dark_text, 17)
	.descmore a
		color lighten($color_dark_text, 20)
		text-decoration none
		&:hover
			text-decoration underline