$preview_color_bg = #e9e9e9
$preview_color_fg = darken($preview_color_bg, 8)
// $preview_color_bg = desaturate(lighten($color_theme, 52), 60)
// $preview_color_fg = darken(desaturate($preview_color_bg, 10), 8)
$preview_color_bg_dark = #d9d9d9
$preview_color_fg_dark = darken($preview_color_bg_dark, 5)

@keyframes placeHolderShimmer
	from 
		background-position 0 0
	to
		background-position 100% 0

.loading-preview.background
	animation-name placeHolderShimmer
	animation-duration 2s
	animation-iteration-count infinite
	animation-timing-function linear
	animation-direction alternate
	background linear-gradient(to right, $preview_color_bg 0%, $preview_color_fg 50%, $preview_color_bg 100%)
	background-repeat repeat-y
	background-size 200px 50px
	background-color $preview_color_bg
	position relative
	> div
		cf()
	.masker
		background #fff
		position absolute
		box-sizing border-box
	&.dark
		background linear-gradient(to right, $preview_color_bg_dark 0%, $preview_color_fg_dark 50%, $preview_color_bg_dark 100%)
		background-color $preview_color_bg_dark
		background-repeat repeat-y
		.masker
			background-color darken($color_light, 10)
	&.small
		background-size 100px 50px
		animation-duration 1.4s

// Thumbnails
$preview_thumbnail_height = 132*$px
.masker-thumbnail
	position relative
	height $preview_thumbnail_height
	&.col2
		span(1/2)
	&.col3
		span(1/3)
	&.col4
		span(1/4)
	&.col5
		span(1/5)
	&.col6
		span(1/6)
	.mask1
		right 0
		width 10*$px
		height 100%
	.mask2, .mask4
		height 8*$px
		top 86*$px
		width 100%
	.mask3, .mask5
		height 10*$px
		top 94*$px
		right 0
		left 80%
	.mask4
		top 104*$px
		height 6*$px
	.mask5
		top 108*$px
		left 50%
	.mask6
		top 118*$px
		left 0
		right 0
		bottom 0
#page-player.expand
	.masker-thumbnail
		span(1/2)
		
// Icons
$preview_icon_height = 88*$px
.masker-icon
	position relative
	height $preview_icon_height + 16*$px
	&.col1
		span(1/1)
	&.col2
		span(1/2)
	&.col3
		span(1/3)
	.mask1
		left $preview_icon_height
		width 10*$px
		height 100%
	.mask2
		left 90%
		right 0
		height 100%
	.mask3
		top 18*$px
		left $preview_icon_height
		right 0
		height 10*$px
	.mask4
		top 28*$px
		left 50%
		right 0
		height 10*$px
	.mask5
		top 38*$px
		left $preview_icon_height
		right 0
		height 10*$px
	.mask6
		top 48*$px
		left 72%
		right 0
		height 10*$px
	.mask7
		top 58*$px
		left $preview_icon_height
		right 0
		bottom 0
	.mask8
		top $preview_icon_height
		left 0
		right 0
		bottom 0
#page-player.expand
	.masker-icon
		span(1/1)

// Sideblock List
.loading-preview
	.loading-sideblock
		padding-top 44*$px
		.mask0
			top 34*$px
			width 100%
			height 10*$px
		.masker-sideblock
			position relative
			height 50*$px
			.mask1 // image div
				left 70*$px
				width 10*$px
				height 100%
			.mask2 // bottom div
				bottom 0
				height 4*$px
				width 100%
			.mask3
				left 80%
				right 0
				height 16*$px
			.mask4
				top 16*$px
				left 70*$px
				right 0
				height 6*$px
			.mask5
				top 22*$px
				left 50%
				right 0
				height 12*$px
			.mask6
				top 34*$px
				left 70*$px
				right 0
				bottom 0
				
// Block List
.loading-preview
	.loading-list
		.masker-list
			position relative
			height 105*$px
			> *
				right 0
			.mask2, .mask4, .mask6
				left 0
				height 8*$px
			.mask1
				top 0
				left 320*$px
				height 20*$px
			.mask2
				top 20*$px
			.mask3
				top 28*$px
				left 140*$px
				height 20*$px
			.mask4
				top 48*$px
			.mask5
				top 56*$px
				left 260*$px
				height 20*$px
			.mask6
				top 76*$px
			.mask7
				top 84*$px
				left 200*$px
				bottom 0
	@media (max-width 1000*$px)
		width 100%