.sideblocks
	.features
		.sideblock-body
			> div
				margin-bottom 16*$px
				h4
					background-color $color_theme
					margin 0
					margin-bottom 6*$px
					padding 8*$px
					padding-top 9*$px
					color $color_light_text
					font-weight 500
					font-size 15*$px
				> ul
					margin 0
					padding 0
					list-style none
					> li
						cf()
						display block
						margin-bottom 4*$px
						&:hover
							background-color lighten($color_gray, 45)
						a.img
							float left
							position relative
							img
								display block
							i
								position absolute
								left 0
								top 0
								color $color_white
								display none
							&:hover i
								display initial
						&.playing a.img i
							display initial
							background-color $color_theme_secondary
							color $color_white
						a.title 
							text-decoration none
							display block
							span
								display block
								margin-top 2*$px
								&.title
									text-height(15*$px, 1)
									display block
									font-size 14*$px
									font-weight 500
									margin-top 4*$px
									color lighten($color_dark_text, 0)
								&.subs
									font-size 70%
									color lighten($color_dark_text, 20)
			.channels
				img
					width 50*$px
					height @width
				a.title span
					margin-left 56*$px
					&.title
						margin-top 6*$px
		.playlists h4.item
			position relative
			padding-right 30*$px
			margin-top 16*$px
			> .icon
				font-size 16*$px
				position absolute
			span
				display inline-block
				margin-left 24*$px
			.button
				position absolute
				height 100%
				top 0
				right 0
				.icon
					font-size 16*$px
					margin-left 9*$px
					margin-right @margin-left
				&:hover
					background-color lighten($color_theme, 10)
				&:active
					background-color lighten($color_theme, 5)
		.playlists, .videos
			img
				width 68*$px
				height @width*$ratio_169
			a.title
				margin-left 74*$px
	@media (max-width 750*$px)
		.sideblock .loading-preview
			display none
		.features .sideblock-body > div > a
			margin-left 5*$px
	@media (max-width 720*$px)
		.features .sideblock-body > div > ul > li
			padding-left 6*$px
			padding-right @padding-left
	hr.footer
		border: none;
		border-top: 1*$px solid #ccc;
		height: 160*$px;
		background-image url('/static/images/backgrounds/sideblock-footer.png')
		background-repeat no-repeat
		background-position top center
		background-size contain
		margin-top 10*$px
		
.expand
	.sideblocks
		.features
			.sideblock-body
				> div > ul
					padding 0 6*$px 0 6*$px