
$gutter = 30*$px
$action_height = 40*$px

#modal-video
	an-top-left($topbar_height)
	an-bottom-right()
	position absolute
	z-index 100
	.background
		an-fill()
		background-color $color_black
		opacity 0.6
	.modal-video-player
		an-top-left($gutter, $gutter)
		an-bottom-right($gutter, $gutter)
		overflow hidden
		overflow-y auto
		box-shadow 0px 5px 40px 0px rgba(0,0,0,0.65)
		background-color $color_light
		min-height 550*$px
		.container-player
			z-index 100
			.modal-actions
				display none
		.related
			width 100%
			height 100%
			position relative
			.related-result
				an-top-left($action_height + 1*$px)
				an-bottom-right()
				position absolute
			.related-loadmore
				margin-bottom 30*$px
				text-align center
				.loading
					margin 20*$px auto
				.button
					box-sizing(border-box)
					width 100%
			ul
				videolist-stack()
				li
					thumbnail-context()
					padding $item_padding
					.thumbnail a .icon
						display initial
						position initial
						font-size inherit
				.content > a
					font-size 14*$px
					max-height 33*$px
					overflow hidden
					margin 0
		@media (min-height 800*$px)
			an-bottom-right($gutter * 4, $gutter)
			overflow hidden
		@media (min-width 1200*$px)
			overflow hidden
			.container-player
				span(.60)
				position relative
			.related
				span(.40)
				.related-result
					bottom 0
		@media (min-width 1450*$px)
			.container-player
				span(.65)
				box-sizing(border-box)
				padding-right 1*$px
			.related
				span(.35)
		.video-details
			video-details()
	.modal-actions
		border-bottom 1px solid darken($color_light, 10)
		height $action_height
		font-size 25*$px
		.button
			height 40*$px
			width 40*$px
			color lighten($color_dark_text, 0)
			&:hover
				background-color darken($color_light_text, 8)
			&:active
				background-color darken($color_light_text, 13)
			&.on
				color $color_theme
			&.close
				float right
				background-color lighten($color_error, 5)
				color $color_light_text
				&:hover
					background-color darken(@background-color, 8)
				&:active
					background-color darken(@background-color, 13)
			

compact-model-video()
	#modal-video
		.modal-video-player
			an-top-left()
			an-bottom-right()
			box-shadow none
			display flex
			flex-direction column
			overflow-y scroll
			.container-player
				width initial
				.bar
					text-align center
					.left
						position initial
						text-align left
						margin-bottom 10*$px
						span
							stack()
							line-height 21*$px
					.actions
						float none
				.published, .description
					display none
				.descmore
					text-align center
					margin-top 14*$px
				.modal-actions
					display block
			.related
				width initial
				height 100%
				.modal-actions
					border-top 1px solid darken($color_light, 10)
					border-bottom 1px dotted darken($color_light, 15)
					.button
						margin-top -1px
				.related-result
					top $action_height + 1*$px
					
.expand
	compact-model-video()
		
	
@media (max-width 580*$px)
	compact-model-video()