.x-oa
	overflow auto

.x-sticky
	position sticky
	
.color-primary 
	color $color_theme

.color-secondary
	color $color_theme_secondary

.textbox
	// height 50*$px // Must be set by user
	color lighten($color_dark_text, 20)
	display inline-block
	position relative
	border 1*$px solid lighten($color_gray, 30)
	overflow hidden
	.label
		float left
		height 100%
		&:before
			content ""
			display inline-block
			vertical-align middle
			height 100%
		i
			color lighten($color_dark_text, 30)
			font-size 150%
	.button
		float right
		height 100%
		background-color lighten($color_gray, 38)
		padding 0 8*$px
		i
			font-size 150%
			line-height 0
		&:hover
			background-color lighten($color_gray, 42)
		&:active
			background-color lighten($color_gray, 30)
	div 
		overflow hidden
		height 100%
		input[type=text], input[type=password]
			box-sizing(border-box)
			border none
			height 100%
			width 100%
			box-shadow none
			color lighten($color_dark_text, 20)
			&::placeholder
				color lighten($color_dark_text, 50)

.video-player
	position relative
	width 100%
	padding-bottom 56.25%
	height 0
	background-color $color_black
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%
	
.button
	display inline-block
	text-align center
	cursor pointer
	&.active
		box-sizing border-box
		border 2*$px solid $color_theme

.button:before
	content ''
	display inline-block
	height 100%
	vertical-align middle
	
.button .icon
	display inline-block
	cursor pointer

.icon
	cursor inherit
	vertical-align middle
	line-height inherit
	display inline-block
	
.button-style-a
	&:hover
		background-color darken($color_light, 3)
	&:active
		background-color darken($color_light, 13)
	
.ui-button
	font-size 14*$px
	padding 8*$px 16*$px
	background-color darken($color_light, 15)
	color $color_dark_text
	min-width 50*$px
	&:hover
		background-color lighten(@background-color, 3)
	&:active
		background-color darken(@background-color, 3)

.button-primary
	background-color lighten($color_theme, 40)
	button()
		
.page-nav
	& a
		box-sizing(border-box)
		width 100%
		margin-top 15*$px
	& .loading
		text-align center
		padding 10*$px

.subtext
	font-size 12*$px
	color $color_gray
	margin-left 8*$px
	vertical-align middle
	
.dropdown
	// padding 0 0 0 5*$px
	cursor pointer
	display inline-block
	// box-shadow inset 0 1px 3px #ddd
	select
		cursor pointer
		padding 4*$px 0
		border none
		vertical-align middle
		background-color transparent
		min-width 110*$px
		box-shadow none

.badge
	display inline-block
	color $color_white
	margin-right 4*$px
	text-decoration none
	&:visited
		color $color_white
		
.loading-view
	padding 60*$px 0 60*$px 0
		
.subview
	text-align center
	padding 24*$px 0 40*$px 0
	font-size 14*$px
	color lighten($color_dark_text, 26)
	h2
		font-size 30*$px
		margin 5*$px 0 10*$px
	p
		color lighten($color_dark_text, 14)
		margin 5*$px
		line-height 26*$px
		a
			color $color_dark_link

.error
	color $color_error
	margin 2*$px 0
	p
		margin 0
		padding 2*$px 0 0 2*$px
		font-size 80%
		> *
			vertical-align middle
		> i
			margin-right 2*$px
			
.head-tab
	clearfix()
	padding 14*$px 10*$px 0 10*$px
	a.tab, a.more
		box-sizing border-box
		font-size 15*$px
		width 30%
		min-width 170*$px
		display inline-block
		text-align center
		padding 10*$px
		border-bottom 2*$px solid transparent
		color lighten($color_dark_text, 0)
		font-weight 500
		text-decoration none
		&.selected
			border-bottom 2*$px solid $color_theme
		&:hover
			background-color darken($color_light, 5)
		& i
			font-size 22*$px
			vertical-align middle
			margin-right 5*$px
			line-height 0
			margin-top -(4*$px)
			font-weight bold
			cursor pointer
	a.more
		width 50*$px
		min-width 0
		float right
		i
			margin-right 0
			
.head-tab-actions
	border-bottom 1px solid darken($color_light, 10)
	padding 0 10*$px
	padding-top 14*$px
	span
		display inline-block
		box-sizing border-box
		a
			line-height 17*$px
			vertical-align bottom
		a.tab
			display inline-block
			font-size 15*$px
			font-weight 500;
			padding 10*$px 20*$px 8*$px
			color lighten($color_black, 24)
			min-width 116*$px
			text-align center
			&.more
				padding 10*$px 10*$px 8*$px 30*$px
		a.button
			height 37*$px
			width 30*$px
			&:hover
				background-color darken($color_light, 8)
		&:hover
			background-color darken($color_light, 5)
		&.true
			border-bottom 2*$px solid $color_theme
		&.false:hover
			border-bottom 2*$px solid darken($color_light, 5)
		&.hide
			display none

compact-head-tab-actions()
	.head-tab-actions
		padding 0
		span
			display block
			position relative
			border none
			border-left 10*$px solid transparent
			&.true
				border-left 10*$px solid $color_theme
			&.false:hover
				border-bottom none
			a.tab
				width 100%
				text-align left
				padding-left 14*$px
			a.button
				position absolute
				right 12*$px
				height 35*$px
			
		
.hide
	display none
.hide-force
	display none !important
.show
	display block
.show-force
	display block !important
.show-force-inline
	display inline-block !important
.transparent
	visibility hidden
.noheight
	height 0
			
// Expanded player view
.expand
	.head-tab
		@media (max-width 1650*$px)
			a.tab
				min-width 140*$px
		@media (max-width 1430*$px)
			a.tab 
				min-width 90*$px
				i, span
					display none
					
// Collapse player view
.collapse
	.head-tab
		@media (max-width 890*$px)
			a.tab
				min-width 140*$px
		@media (max-width 480*$px)
			a.tab 
				min-width 90*$px
				i, span
					display none