
#root, #app
	height 100%

.page-narrow, #search, #channel, #playlist, #video
	color lighten($color_dark_text, 15)
	max-width 720*$px
	.list
		background-color $color_light
		margin-bottom 50*$px
		.result 
			padding-top 10*$px
			ul
				videolist-stack()
		
.expand
	.page-narrow, #search, #channel, #playlist, #video
		.result 
			ul
				videolist-stack(true)

.mobile #page .result .actions a
	color $color_dark_text
		
#player .topbar, #page .search-bar
	box-sizing(border-box)
	height $topbar_height
	display flex
	align-items center
	& > * // .actions
		height 100%
		& > * // a
			display inline-block
			line-height $topbar_height
			& > *
				display inline-block
				vertical-align middle
				line-height normal
		&.actions > * > *
			margin-top -(2*$px)
	.divider
		font-weight 300
		margin 0 5*$px 0 6*$px
		line-height 0
	.spacer
		margin 0 5*$px 0 6*$px
		visibility hidden
	.topbar-menu, .search-bar-menu
		.avatar
			img
				width 30*$px
	a 
		span
			margin-left 4*$px
			font-size 14*$px
			font-weight 400
