
// Checkbox
.ui-checkbox
	display inline-block
	position relative
	cursor pointer
	width 30*$px
	height 20*$px
	line-height @height
	.ui-checkbox-slider
		display inline-block
		width 100%
		background-color #888
		height 5*$px
		line-height @height
		vertical-align middle
	.ui-checkbox-handle
		display inline-block
		position absolute
		background-color white
		width 10*$px
		height 100%
		left 0
	&.check
		.ui-checkbox-slider
			background-color #008000
		.ui-checkbox-handle
			left initial
			right 0
			