// *
// 	text-rendering optimizeLegibility !important
// 	-webkit-font-smoothing antialiased !important
// 	-moz-osx-font-smoothing grayscale !important
// 	font-smoothing antialiased !important

html, body
	// edit()
	overflow hidden
	height 100%

a, button
	cursor pointer
	&:visited
		color inherit
		
a.text
	&:hover
		color lighten($color_dark_link, 20)
		text-decoration underline
		
input, select
	outline none
	border 1*$px solid lighten($color_gray, 30)

select
	height 30*$px
	background transparent

button
	outline none
	border none
	padding 5*$px 8*$px 4*$px
	background-color $color_light_normal
	&:hover
		background-color lighten($color_light_normal, 4)
	&:active
		background-color darken($color_light_normal, 3)
	
input:focus, button:focus, textarea:focus, select:focus
	outline none
		
input[type=text], input[type=password]
	&, select
		color lighten($color_dark_text, 10)
		padding 4*$px 6*$px
		box-shadow inset 0 1px 3px #ddd
	&::placeholder
		color lighten($color_dark_text, 50)
	
label
	vertical-align middle

	