
shadow1()
	box-shadow 4px 4px 0px -1px rgba(0,0,0,0.1)

dualpane($expand, $float = left, $adj = 0, $breakpoint = 1200)
	if $expand
		span(.75 + $adj)
		float $float
		@media (max-width 1*$breakpoint*$px)
			span(.70 + $adj)
			float $float
		@media (max-width .67*$breakpoint*$px)
			span(.90 + $adj)
			float $float
	else
		span(.25 - $adj)
		float $float
		@media (max-width 1*$breakpoint*$px)
			span(.30 - $adj)
			float $float
		@media (max-width .67*$breakpoint*$px)
			span(.10 - $adj)
			float $float
			
newdualpanel($space = 50, $direction = row)
	if $space
		display flex
		flex-direction $direction 
		> *:first-child
			width ($space)%
		> *:last-child
			width (100-($space))%

listview()
	list-style none
	padding 0
	margin 0

boxsize-border()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

text-height($height, $lines = 2)
	display inline-block
	line-height $height
	max-height $height * $lines
	overflow hidden
	vertical-align middle
	
lockratio($heightPercent = 50%)
	background-color red !important
	&:before
		content ""
		float left
		padding-bottom $heightPercent
	&:after
		content ""
		display table
		clear both

button($dark = false)
	if $dark
		&:hover
			background-color darken(@background-color, 10)
		&:active
			background-color darken(@background-color, 20)
	else 
		&:hover
			background-color lighten(@background-color, 10)
		&:active
			background-color lighten(@background-color, 5)
			
aspect-ratio($width, $height) 
	position relative
	&:before 
		display block
		content ""
		width 100%
		padding-top ($height / $width) * 100%
	> .content, > a, > img
		position absolute
		top 0
		left 0
		right 0
		bottom 0

videolist-stack($expand = false, $item_padding = 10*$px, $button_size = 30*$px)
	listview()
	li
		stack()
		an-wrap()
		box-sizing(border-box)
		display inline-block
		padding $item_padding ($item_padding * 2)
		min-height 100*$px
		&.playing .thumbnail a .icon
			display initial
			background-color $color_theme_secondary
			color $color_white
		&.unknown .thumbnail
			background-color lighten($color_dark_normal, 10)
	li:hover
		background-color darken($color_light, 6)
		.actions
			color lighten($color_dark_text, 20)
	.thumbnail
		float left
		line-height 0
		width 21%
		min-width 120*$px
		margin-right 10*$px
		background-image url('/static/images/thumbnails/thumbnail_320x180_trans.png')
		background-repeat no-repeat
		background-position center
		background-size contain
		// height 80*$px // Removed to fix modal player related thumbnail
		// position relative
		aspect-ratio(16, 9)
		a
			display inline-block
			position absolute
			img
				width 100%
				position relative
				z-index 3
			.icon
				color #fff;
				position absolute
				left 0
				top 0
				font-size 32*$px
				z-index 3
				display none
				line-height initial
			&:hover .icon
				display initial
	.item-playlist, .item-localplaylist, .item-list
		.thumbnail a
			playlist-thumbnail()
			position absolute
	.item-channel .thumbnail
		text-align center
		a
			height 100%
			background-color darken($color_light_normal, 10)
			img
				width initial
				height 100%
	.actions
		an-bottom-right($item_padding, $item_padding)
		color darken($color_light_text, 4)
		font-size 20*$px
		padding-top 5*$px
		.button
			height $button_size
			width $button_size
		.button:hover
			background-color darken($color_light_text, 10)
		.button:active
			background-color darken($color_light_text, 17)
		@media (max-width 650*$px)
			position initial
			text-align center
	.content
		font-size 12*$px
		color lighten($color_dark_text, 25)
		cursor pointer
		overflow hidden
		min-height 70*$px
		> a
			width 99%
			font-size 15*$px
			font-weight 500
			color lighten($color_dark_link, 0)
			text-decoration none
			margin 2*$px 0 0 0
			display inline-block
			line-height 17*$px
			max-height 34*$px
			overflow hidden
			&:hover
				text-decoration underline
		.channel
			a
				// text-height(17*$px)
				text-decoration none
				color inherit
				&:hover
					color lighten($color_dark_link, 0)
					text-decoration underline
		.type
			color $color_theme_secondary
			i.icon
				font-size 18*$px
				vertical-align sub
				padding-right 4*$px
		.details
			margin-top 2*$px
			// max-height 15*$px
	&.show-index
		li
			padding-left $item_padding*4
			.index
				position absolute
				left $item_padding*1.5
				top $item_padding*1.2
				font-size 80%
			.thumbnail
				width 22%
			.drag-handle
				display none
				position absolute
				left 4*$px
				top 26*$px
				width 30*$px
				text-align center
				padding 10*$px 0
				cursor move
				i
					font-size 20*$px
					color lighten($color_dark_text, 50)
			&:hover .drag-handle
				display initial
			&.drag-spot-up
				border-top 2px solid lighten($color_gray, 10)
			&.drag-spot-down
				border-bottom 2px solid lighten($color_gray, 10)
	if $expand
		@media (max-width 1780*$px)
			li
				padding-left 10*$px
				padding-right @padding-left
				.actions
					position initial
					text-align center
		@media (max-width 1250*$px)
			li
				.thumbnail
					min-width initial
					width 100%
					float none
					margin-bottom 2*$px
					height initial
				&.item-channel .thumbnail
					background-color darken($color_white, 6)
					padding-top 8*$px
					padding-bottom @padding-top
			&.show-index
				li .thumbnail
					width initial
	else
		@media (max-width 840*$px)
			li
				padding-left 10*$px
				padding-right @padding-left
				.actions
					clear both
					position initial
					text-align center
					.button
						width 40*$px
						height @width
						i
							font-size 24*$px 
		@media (max-width 400*$px)
			li
				.thumbnail
					min-width initial
					width 100%
					float none
					margin-bottom 2*$px
					height initial
				&.item-channel .thumbnail
					background-color darken($color_white, 6)
					padding-top 8*$px
					padding-bottom @padding-top
			&.show-index
				li .thumbnail
					width initial
page-wrap()
	.list
		background-color $color_light
		width 65%
		min-width 520*$px
		margin-bottom 50*$px
		
filter-table()
	clear both
	padding 10*$px
	table
		width 100%
		max-width 500*$px
		tr td, tr th
			text-align left
			padding 2*$px
			cursor pointer
		tr td
			width 20%
			&:hover, &.selected
				color $color_light_link_hover

playlist-thumbnail()
	position relative
	display inline-block
	margin-bottom 5%
	text-align: initial;
	height 90%
	img
		width 90%
		&:first-child
			width 90%
			position relative
			z-index 3
	for row in 1 2
		img:nth-child({row+1})
			position absolute
			display block
			width 90%
			height 100%
			top (5% * row)
			left (5% * row)
			z-index (3 - row)
			opacity (1 - (0.3 * row))
				
video-details()
	font-size 14*$px
	padding 15*$px
	color lighten($color_dark_text, 15)
	h1
		overflow(ellipsis)
		color lighten($color_dark_text, 15)
		margin 0
		margin-bottom 5*$px
		font-size 20*$px
		font-weight 500
		a
			color lighten($color_dark_text, 0)
			text-decoration none
			&:hover
				color $color_light_link_hover
	.channel
		font-weight 500
		a
			color lighten($color_dark_text, 15)
			text-decoration none
			&:hover
				color $color_light_link_hover
				text-decoration underline
	.published
		font-weight 500
		color lighten($color_dark_text, 5)
	.description
		overflow hidden
		height 36*$px
		line-height 1.5
		font-size 12*$px
		margin-bottom 10*$px
	.descmore a
		color $color_dark_link
		padding 2*$px
	.bar
		cf()
		position relative
		border-bottom 2px solid desaturate($color_theme, 20)
		margin 5*$px 0
		.left
			an-top-left()
			font-size 14*$px
			line-height 40*$px
			color lighten($color_dark_text, 5)
			.views
				margin-right 15*$px
			i
				font-size 20*$px
				vertical-align middle
				color lighten($color_dark_text, 30)
				margin-right 5*$px
				margin-top -(4*$px)
		.actions
			font-size 25*$px
			float right
			.button
				height 40*$px
				width 40*$px
				color lighten($color_dark_text, 0)
				&:hover
					background-color darken($color_light_text, 8)
				&:active
					background-color darken($color_light_text, 13)
					
thumbnail-context()
	.thumbnail
		position relative
		text-align center
		.actions
			display none
			position absolute
			z-index 10
			right 0
			bottom @right
			left initial
			top @left
			.button
				button()
				color $color_light_text
				background-color alpha($color_black, 0.5)
				width 30*$px
				height @width
				font-size 18*$px
				text-align center
	&:hover
		.thumbnail
			.actions
				display initial
			.img > .icon
						display initial !important