
.ps-scrollbar-y-rail
	z-index 50

#toast-container 
	> div
		box-shadow none
		font-size 90%
		.toast-title
			margin-bottom 6*$px
			font-weight 500
		.toast-message
			font-size 90%
	@media (max-width 750*$px)
		left 12px
		> div
			width 100%
	&:hover
		box-shadow none
