html,
body {
    background-color: #eee;
    color: #333;
}

#loading .contacts {
  display: none;
  font-size: 12px;
  margin-top: 40px;
}

#loading .contacts a {
    color: #2a85d5;
}

#loading .contacts span {
    margin: 0 6px 0 8px;
    color: #aaa;
}

#root.load-error #loading .contacts {
  display: block;
}

#loading .frame {
    display: block;
    position: absolute;
    overflow: visible;
    left: 50%;
	top: 50%;
	text-align: center;
}

#loading .frame > * {
    position: relative;
    left: -50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#loading .frame .load-logo {
	position: relative;
	display: inline-block;
}

#loading .frame .load-logo .fg {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 5%;
}

#loading .frame .load-logo .fg img {
    max-width: initial;
}

#loading #load-log, #loading #load-log-msg, #loading #load-extra {
    font-family: sans-serif;
}

#loading #load-log.log-error {
	color: #c31d1d;
}

#loading #load-log-msg {
    font-size: 0.8rem;
    color: #aaa;
}

#loading #load-extra .load-link {
    border-bottom: 2px solid #1062ab;
    padding: 2px;
}