/* TAGS */

html,
body {
	color: #424242;
	line-height: 100% !important;
}

h4 {
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 0.5rem 0;
}

p {
	margin: 0.5rem 0;
	font-size: 0.75rem;
	color: #888;
}


/* OVERIDES */

.ui-checkbox .ui-checkbox-handle {
	border: 1px solid #eee;
}


/* CLASSES */

.settings {
	max-width: 45rem;
	margin: 0 auto;
}

.frame-panel {
	margin-top: 1.2rem;
}

.frame-panel:first-child {
	margin-top: 0;
}

.frame-panel-wrap {
	background-color: #fff;
	padding: 1rem;
	border-left: 0.2rem solid #1062ab;
}

.frame-block {
	font-size: 0.85rem;
	border-top: 1px solid #ddd;
	padding-top: 0.8rem;
	margin-top: 0.8rem;
}

.frame-block:first-child {
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}

.frame-block .frame-head:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.frame-block .frame-head .info {
	float: left;
	width: 75%;
}

.frame-block .frame-head .name {
	font-size: 0.9rem;
	margin-bottom: 0.4rem;
}

.frame-block .frame-head .body {
	font-size: 0.8rem;
	color: #888;
}

.frame-block .frame-head .control {
	float: right;
	width: 25%;
	position: relative;
	text-align: right;
	padding-right: 0.6rem;
	padding-top: 0.1rem;
}

.frame-block .frame-head .control .ui-checkbox {
	/*position: absolute;*/
	/*right: 0;*/
}

.frame-block .frame-head .control .ui-checkbox.check .ui-checkbox-slider {
	background-color: #1062ab;
}

.frame-block .frame-head .control .ui-checkbox .ui-checkbox-handle {
	border: none;
	background-color: #ccc;
}

.frame-block .frame-head .control .ui-checkbox.check .ui-checkbox-handle {
	background-color: #a0bad2;
}

.frame-block .frame-head .control.range {
	font-size: 90%;
	padding: 0;
}

.frame-block .frame-head .control.range > div {
	margin-bottom: 2px;
}

.frame-block .frame-head .control.range input {
	width: 3rem;
	padding-left: 2px;
}

.frame-block .frame-body {
	padding: 14px 24px 0px
}