/* Common */

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}


/* Checkbox */

.ui-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
    line-height: 20px;
}

.ui-checkbox .ui-checkbox-slider {
    display: inline-block;
    width: 100%;
    background-color: #888;
    height: 5px;
    line-height: 5px;
    vertical-align: middle;
}

.ui-checkbox .ui-checkbox-handle {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 100%;
    left: 0;
}

.ui-checkbox.check .ui-checkbox-slider {
    background-color: #008000;
}

.ui-checkbox.check .ui-checkbox-handle {
    left: initial;
    right: 0;
    background-color: #90c590;
}


/* Buttons*/

.ui-button {
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    background-color: #d4d4d4;
    font-size: 0.8rem;
    color: #3f3f3f;
}

.ui-button:hover {
    background-color: #ddd;
}

.ui-button:active {
    background-color: #d6d6d6;
}
