<%- include('../header') -%>

    <main>
        <section class="text-heavy">
            <span class="bracket">{</span>
            <span> open beta testing </span>
            <span class="bracket">}</span>
        </section>
        <section>
            <a class="button-prime" href="/backdoor/openbeta">Access Beta Website</a>
            <a class="button-prime" href="/about/bugreport">Bug Report</a>
        </section>
        <%- include('../../../server/views/partials/about/index') -%>
    </main>

<%- include('../footer') -%>
