
#browse
	> .actions
		text-align center
		margin-top 30*$px
		margin-bottom 40*$px
		.button
			button()
			background-color darken($color_light, 17)
			color darken(@background-color, 30)
			font-size 40*$px
			width 80*$px
			height @width * 0.8
			margin-right 10*$px
			&:last-child
				margin-right 0
	.block
		position relative
	.drag-spot-up
		&:before
			content ""
			display block
			position absolute
			width 100%
			height 2*$px
			background-color darken($color_theme_secondary, 0)
			top -(10*$px)
	.drag-spot-down
		&:after
			content ""
			display block
			position absolute
			width 100%
			height 2*$px
			background-color darken($color_theme_secondary, 0)
			bottom -(10*$px)
			
.expand
	#browse
		> .actions
			margin-top 20*$px
		.drag-spot-up
			&:before
				top 0
		.drag-spot-down
			&:after
				bottom 0