
#channel
	background-color red
	.header
		.upper
			border-bottom 10*$px solid #e6e6e6
		.banner
			aspect-ratio(960, 263)
			overflow hidden
			img
				width 100%
		.avatar
			border 4*$px solid darken($color_light, 8)
			img
				width 88*$px
				height @width
				border 1*$px solid darken($color_light, 14)
		h1
			color lighten($color_dark_text, 10)
			padding-right 20*$px
		.badge.sub-btn
			button(true)
			background-color #FF4136 // Red
			span
				color darken(#FF4136, 40)
			&.subscribed
				button(true)
				background-color #aaa // Silver
				color darken(#fff, 4)
				span
					color #fff
		.search
			height 40*$px
			.textbox
				font-size 14*$px
				height 30*$px
				max-width 230*$px
				margin-top 5*$px
				.label
					padding-left 5*$px
		.actions
			font-size 25*$px
			.button
				height 40*$px
				width 40*$px
				color lighten($color_dark_text, 0)
				background-color $color_light
				&:hover
					background-color darken($color_light_text, 8)
				&:active
					background-color darken($color_light_text, 13)
	.filter
		clearfix()
		filter-table()
		border-top 1px solid darken($color_light, 10)
		table
			width 60%
			margin 0 auto
			border-right 1px solid darken($color_light, 10)
			border-left 1px solid darken($color_light, 10)
			padding-left 10*$px

compact-channel()
	#channel
		background-color red
		.feature
			text-align center
			.avatar
				margin 0
				float none
			h1
				padding 0
				padding 0 20*$px
				margin-top 4*$px
			.joined
				position relative
				padding 0
				margin-top 20*$px
		.action-wrap
			.search, .actions
				float none
				width initial
				text-align center
			.actions
				margin-top 4*$px
		.filter table
			width initial
			border none

.collapse
	@media (min-width 1001*$px) and (max-width 1060*$px)
		compact-channel()
	@media (min-width 751*$px) and (max-width 890*$px)
		compact-channel()
	@media (max-width 580*$px)
		compact-channel()

.expand
	compact-channel()
			
