	
search-input-toggle()
	width 100%
	position absolute
	top $topbar_height
	box-sizing border-box
	margin 0
	padding 10*$px
	background-color darken($color_light, 10)
	z-index 199
	height 50*$px
	border-bottom 1px solid darken($color_light, 12)

#page-player
	position absolute
	height 100%
	width 100%
	newdualpanel(25)
	&.expand
		newdualpanel(75)
		#player
			.player-cover
				display none
			@media (max-width 839*$px)
				.current-body
					display none
			@media (min-width 841*$px)
				.playlist
					newdualpanel(70, row-reverse)
					&.minimize
						.list-title
							display none
						.list
							position absolute
							width 100%
							// height is based on player actions height
							height 40*$px
							top initial
							bottom 0
							border-top 1*$px solid darken(desaturate($color_theme, 40), 5)
							background-color $color_dark
							> .actions
								span(.30)
								&:last-child
									display none;
							& .items
								span(.70)
								position initial
								height 100%
								ul
									cf()
									height 100%
									li
										span(.50)
										display none
										height 100%
										.item-link
											height 100%
										.title .name
											// height is based on player item height
											text-height(16*$px, 1)
										.owner
											display none
										.itemsub
											display none
										&:first-child
											display block
										&:last-child
											display block
							&.playing .items ul li
								&:first-child
										display none
								&.playing +
									li
										display block
						.current
							width 100%
							.current-body
								padding-bottom 60*$px
				.list
					top 0
		#page
			.body-content
				display block
				> div
					padding-top 0
					padding-left @padding-top
					padding-right @padding-top
				.body-wrap
					padding-bottom 0
					> .frame-page > iframe
						padding 10*$px
						box-sizing border-box
				.sideblocks
					width initial
					min-width initial
					padding-bottom $footer_height_expand + 50*$px
		.search-bar
			.search-input
				search-input-toggle()
			.prime-menu
				a 
					span
						display none
					&.search-button
						display inline-block
		@media (max-width 1000*$px)
			#player
				width 100%
				.playlist
					visibility initial
			#page
				width 50*$px
				min-width @width
				.search-bar
					padding 0 
					> *
						display none
						&.min-search
							display block
				.page-content
					visibility hidden
				.page-cover
					display initial
	@media (max-width 1000*$px)
		#player
			width 50*$px
			min-width @width
			.topbar
				.panel-nav
					display none
			.playlist
				visibility hidden
			.player-cover
				display initial
		#page
			width 100%
			.search-bar
				.panel-nav
					display none
				.prime-menu
					margin-left 5*$px
			.page-content
				visibility initial

$content_padding = 20*$px

#page
	an-wrap()
	height 100%
	overflow hidden
	background-color darken($color_light, 10)
	.icon-star
		color $color_theme
	.search-bar
		background-color $color_light
		padding-right 5*$px
		.actions
			.divider
				color lighten($color_gray, 20)
			a
				padding 0 8*$px
				font-size 26*$px
				color $color_dark_text
				&:hover
					background-color darken($color_light, 6)
				&:active
					background-color darken($color_light, 10)
				&.panel-nav:first-child
					font-weight 300
					padding 0 3*$px
					font-size 20*$px
				&.home
					padding 0 8*$px
				&.true
					border-bottom 2*$px solid $color_theme
					position relative
					z-index 10
				span
					color lighten($color_dark_text, 20)
				@media (min-width 1621*$px)
					padding 0 10*$px
		.prime-menu
			flex-grow 1
			text-align center
			z-index 30
			.search-button
				display none
			a
				@media (min-width 1621*$px)
					padding 0 22*$px
				@media (max-width 660*$px)
					padding 0 20*$px
				@media (max-width 540*$px)
					padding 0 12*$px
				@media (max-width 460*$px)
					padding 0 8*$px
				@media (max-width 420*$px)
					padding 0 12*$px
				@media (max-width 360*$px)
					padding 0 8*$px
		.search-bar-menu
			> a
				div
					position absolute
					background-color $color_light
					z-index 200
					left 0
					right 0
					top $topbar_height + (2*$px)
					display none
				&.showmenu
					div
						display initial
						text-align center
						border-top 1*$px solid darken($color_light, 7)
						border-bottom 1*$px solid darken($color_light, 15)
						padding-top 8*$px
						padding-bottom 10*$px
						a
							display inline-block
							border none
							text-align center
							text-decoration none
							padding 6*$px 10*$px 14*$px
							width 82*$px
							span
								display block
								margin-top 4*$px
								margin-left 2*$px
		.search-input
			height 30*$px
			margin 0 0 0 5*$px
			width 35%
			form
				line-height normal
				width 100%
				> div
					display block
					height 100%
					position relative
					width 84%
					.pin
						position absolute
						height 100%
						top 0
						right 0
						width 30*$px
						font-size 106%
						color darken($color_white, 10)
						&:hover
							color lighten($color_dark_text, 50)
						&:active
							color lighten($color_dark_text, 30)
					.pintext
						width auto
						color lighten($color_dark_text, 20)
						span
							margin-right 8*$px
							vertical-align sub
					div.awesomplete // autocomplete div
						height 100%
						ul
							listview()
							shadow1()
							padding 10*$px 0
							position absolute
							background-color $color_white
							z-index 300
							border 1*$px solid lighten($color_gray, 30)
							border-top none
							width 100%
							cursor pointer
							li
								padding 8*$px 6*$px
								font-size 14*$px
								line-height @font-size
								color $color_dark_text
								&[aria-selected=true]
									background-color darken($color_white, 10)
								&:hover
									background-color darken($color_white, 6)
								mark
									background-color transparent
									font-weight inhirit
									color $color_dark_text
						> span
							display none
			form, input, button
				height 100%
			input[type=text]
				box-sizing(border-box)
				border 1*$px solid lighten($color_gray, 30)
				width 100%
				font-size 14*$px
				line-height @font-size
				color $color_dark_text
				&:focus
					border 1*$px solid $color_theme
				&::placeholder
					color lighten($color_dark_text, 50)
				&::-webkit-calendar-picker-indicator {display: none;} 
			button
				width 16%
				border 1*$px solid lighten($color_gray, 30)
				border-left none
				background-color darken($color_light, 10)
				float right
				&:hover
					background-color darken($color_light, 5)
				&:active
					background-color darken($color_light, 13)
			@media (max-width 1000*$px)
				margin-left 10*$px
			@media (max-width 840*$px)
				width 42%
			@media (min-width 1601*$px)
				form > div
					width 88%
				button
					width 12%
		.min-search
			.min-search-wrap
				background-color $color_white
				position fixed
				left 0
				top $topbar_height
				width 100%
				.search-input
					width 95%
					margin-left 8*$px
		.topborder
			height 1px
			width 100%
			position absolute
			background-color #ddd
			top 0
			z-index 40
			display block !important
	.page-content
		an-top-left($topbar_height)
		an-bottom-left()
		an-full-width()
		overflow-y auto
		overflow-x hidden
		border-top 1*$px solid darken($color_light, 12)
		overflow-scrolling touch
		.body-content
			cf()
			min-height 100%
			display flex
			justify-content center
			> .body-wrap
				// box-sizing(border-box)
				padding-bottom $footer_height
				padding-top $content_padding
				padding-left @padding-top
				padding-right @padding-top
				width 100%
				> *
					margin 0 auto
					margin-bottom 70*$px
				.messages
					margin 0
					div
						position relative
						a.message, p.message
							margin 0
							margin-bottom 10*$px
							padding 5*$px 4*$px
							color $color_white
							font-size 14*$px
							text-align center
							display block
							text-decoration none
							&.info
								background-color $color_info
								border 1px solid darken($color_info, 10)
							&.warning
								background-color $color_warning
								border 1px solid darken($color_warning, 10)
							&.error
								background-color $color_error
								border 1px solid darken($color_error, 10)
							&.success
								background-color $color_success
								border 1px solid darken($color_success, 10)
							.icon
								float left
								font-size 104%
								margin-right 4*$px
						a.button
							color $color_white
							position absolute
							height 100%
							right 0
							top 0
							width 26*$px
						&.closable
							a.message, p.message
								padding-right 26*$px
								// padding-left @padding-right
				.frame-page
					> iframe
						border none
						width 100%
						@media (max-width 720*$px)
							padding 10*$px
							box-sizing border-box
			> .sideblocks
				width 280*$px
				min-width @width
				padding-bottom $footer_height + 50*$px
				padding-left 0
				padding-top $content_padding
				padding-right @padding-top
			@media (max-width 750*$px)
				display block
				> .body-wrap
					padding-bottom $content_padding
					> *
						margin-bottom $content_padding
				> .sideblocks
					width initial
					padding-left $content_padding
					min-width initial
	.page-cover
		an-top-left($topbar_height)
		an-bottom-right()
		display none
		cursor pointer
		> span
			an-middle-center()
			.icon
				font-size 26*$px

.collapse #page
	.search-bar .min-search
		display none
	@media (max-width 1280*$px)
		.search-bar
			.actions a
				text-decoration none
				span
					display none
	@media (max-width 750*$px)
		.page-content .body-content > div.sideblocks
			padding-bottom $footer_height_expand
	@media (max-width 720*$px)
		.search-bar
			.actions a span
				display initial
			.search-input
				search-input-toggle()
			.prime-menu
				text-align left
				.search-button
					display inline-block
					float right
		.page-content
			// padding-top $topbar_height - (1*$px)
			.body-content
				> div
					padding-top 0
					padding-left 0
					padding-right @padding-left
	@media (min-width 721*$px)
		.search-bar .search-input
			display block !important
	@media (max-width 660*$px)
		.search-bar
			.actions a span
				display none
	@media (max-width 420*$px)
		.search-bar 
			.search-input
				form button
					padding-left 10*$px
					padding-right @padding-left
			.prime-menu
				text-align left