
#playlist
	.playlist-header
		border-bottom 10*$px solid #e6e6e6
		.upper
			.thumbnail
				padding 20*$px
				a
					aspect-ratio(320, 180)
					position relative
					display block
					font-size 14*$px
					img
						display block
					> div
						playlist-thumbnail()
						position absolute
						top 0
						left 0
			.content
				h1
					margin-top 28*$px
				.sub
					font-size 15*$px
		.owner
			color $color_dark_text
			margin-top 4*$px
			i
				position absolute
				line-height 30*$px
			a
				text-decoration none
				color lighten($color_dark_text, 10)
				&:hover
					text-decoration underline
		.actions
			font-size 25*$px
			.button
				height 40*$px
				width 40*$px
				color $color_dark_text
				background-color $color_light
				&:hover
					background-color darken($color_light_text, 8)
				&:active
					background-color darken($color_light_text, 13)
					
compact-playlist()
	#playlist
		.playlist-header
			.upper
				text-align center
				.thumbnail
					display block
					width 100%
					padding 10*$px
					a > div
						width 100%
				.content
					display block
					width 100%
					padding-bottom 4*$px
					h1
						margin 0 20*$px 20*$px 20*$px
					.videos
						font-size 16*$px
						font-weight 500
				.published
					display inline-block
					position initial
					padding 0
					margin-bottom 10*$px
			.owner
				text-align center
				width 100%
				margin-bottom 14*$px
				a
					text-align left
			.actions
				text-align center
				width 100%

.collapse
	@media (min-width 1001*$px) and (max-width 1080*$px)
		compact-playlist()
	@media (min-width 751*$px) and (max-width 840*$px)
		compact-playlist()
	@media (max-width 520*$px)
		compact-playlist()		

.expand
	compact-playlist()