
#search
	.list 
		ul
			margin-top 10*$px
			margin-bottom 10*$px
		.result-header
			cf()
			color lighten($color_dark_text, 20)
			border-bottom _result_header_ui_border = 1px solid darken($color_light, 10)
			font-size 13*$px
			.filter
				span(.50)
				.button
					line-height 30*$px
					padding 0 8*$px
					border-right 1*$px solid darken($color_light, 10)
					i
						cursor pointer
						font-size 125%
						vertical-align middle
					&:hover
						background-color  darken($color_light, 5)
					&:active
						background-color  darken($color_light, 7)
				.filter-button
					padding 0 10*$px
			.stats
				span(.50)
				text-align right
				span
					line-height 30*$px
					padding 0 10*$px
			.filter-options
				filter-table()
				border-top _result_header_ui_border
				table
					width 70%
					margin 0 auto
					border-right 1px solid darken($color_light, 10)
					border-left 1px solid darken($color_light, 10)
					padding-left 10*$px
			@media (max-width 1260*$px)
				.filter
					cf()
					width initial
				.stats
					display none