$imgA = url('/static/images/buttons/google_signin/btn_google_signin_dark_normal_web.png')
$imgB = url('/static/images/buttons/google_signin/btn_google_signin_dark_focus_web.png')
$imgC = url('/static/images/buttons/google_signin/btn_google_signin_dark_pressed_web.png')
$imgD = url('/static/images/buttons/google_signin/btn_google_signin_dark_disabled_web.png')

#signin
	text-align center
	a
				color $color_dark_link
	ul
		text-align left
		li
			margin-bottom 4*$px
	.wrap
		max-width 420*$px
		margin 20*$px auto 0
		background-color $color_white
		h2
			border-bottom 2*$px solid $color_theme
			margin 0
			padding 20*$px 0
			color $color_dark_text
			background-color darken($color_white, 5)
		> div
			padding 20*$px
			p, ul
				line-height 18*$px
		.body
			padding-bottom 40*$px
			.tagline
				color lighten($color_dark_text, 20)
				margin-bottom 30*$px
				&.signedin
					color $color_success
			.subline
				color lighten($color_dark_text, 30)
				font-size 11*$px
				margin-top 4*$px
			.description
				color lighten($color_dark_text, 5)
				font-size 80%
				ul
					max-width 260*$px
					margin 0 auto
					padding-left 60*$px
		.footer
			font-size 72%
			border-top 1*$px solid darken($color_white, 15)
			background-color darken($color_white, 5)
			line-height 16*$px
	button
		background-image $imgA
		width 191px
		height 46px
		background-color transparent
		background-repeat no-repeat
		background-position center
		margin 26*$px 0 0
		&:hover
			background-image $imgB
		&:active
			background-image $imgC
		&::after
			position absolute
			// left 9999px
			width 0
			height 0
			overflow hidden
			content $imgB $imgC // Preload
		&.disabled
			background-image $imgD
	@media (max-width 520*$px)
		.wrap
			max-width initial
			margin 0
			.body
				.description
					ul
						padding-left 40*$px
.expand
	#signin
		.wrap
			margin 0
			width initial
			max-width initial
		@media (max-width 1230*$px)
			.body
				.description
					ul
						padding-left 20*$px