
#video
	.video-header
		border-bottom 10*$px solid #e6e6e6
		.upper
			.thumbnail
				padding 20*$px
				a
					aspect-ratio(320, 180)
					position relative
					display block
					font-size 14*$px
					.duration
						display inline-block
						bottom 2*$px
						right @bottom
						padding 4*$px
						position absolute
						background-color rgba(0, 0, 0, 0.5)
						color $color_white
					img
						display block
			.content
				h1
					margin-top 28*$px
				.sub
					font-size 15*$px
		.owner
			color $color_dark_text
			margin-top 4*$px
			i
				position absolute
				line-height 30*$px
			a
				text-decoration none
				color lighten($color_dark_text, 10)
				&:hover
					text-decoration underline
		.actions
			font-size 25*$px
			.button
				height 40*$px
				width 40*$px
				color $color_dark_text
				background-color $color_light
				&:hover
					background-color darken($color_light_text, 8)
				&:active
					background-color darken($color_light_text, 13)
			.rating
				.icon
					font-size 22*$px
					color $color_dark_text
					margin-top -(1*$px)
				span
					font-size 15*$px
				&.liked
					.icon
						color $color_theme
					&:hover .icon
						color lighten($color_theme, 10)
				&:hover .icon
					color lighten($color_dark_text, 16)
	.details .desc
		white-space pre-wrap
		&.sless
			height 42*$px
			overflow hidden
			
compact-video()
	#video
		.video-header
			.upper
				text-align center
				.thumbnail
					padding 10*$px
					display block
					width 100%
					img
						width 100%
				.content
					display block
					width 100%
					padding-bottom 4*$px
					h1
						margin 0 20*$px 20*$px 20*$px
					.views
						text-align center
						font-size 16*$px
						font-weight 500
				.published
					display inline-block
					position initial
					padding 0
					margin-bottom 10*$px
			.owner
				text-align center
				width 100%
				margin-bottom 14*$px
				a
					text-align left
			.actions
				text-align center
				width 100%
				
.collapse
	@media (min-width 1001*$px) and (max-width 1180*$px)
		compact-video()
	@media (min-width 751*$px) and (max-width 940*$px)
		compact-video()
	@media (max-width 610*$px)
		compact-video()
	@media (min-width 1001*$px) and (max-width 1060*$px)
		#video
			compact-head-tab-actions()
	@media (min-width 751*$px) and (max-width 840*$px)
		#video
			compact-head-tab-actions()
	@media (max-width 520*$px)
		#video
			compact-head-tab-actions()

.expand
	compact-video()
	@media (max-width 1840*$px)
		#video
			compact-head-tab-actions()