<%-
	include('../partials/head-web', {
		class: 'tc'
	})
-%>

<main id="about" class="pt4 pt5-ns f5 lh-title">
	<header class="mb5">
	    <section>
	    	<a href="/" title="Rollyt">
	        	<img src="/static/images/logos/logo-rollyt-medium.png" alt="The Advanced YouTube Player" title="The Ultimate YouTube Player" class="w-70 mw5-ns">
	    	</a>
	    </section>
	</header>
	<a href="/" title="Home - The Ultimate Player for YouTube" class="dib mb4 ph4 pv2 white bg-blue br2">www.rollyt.com</a>
	<%- include('../partials/about/index') -%>
	<a href="/" title="Home - The Ultimate Player for YouTube" class="dib mt5 ph4 pv2 white bg-blue br2">Go To WebApp</a>
</main>

<%- include('../partials/foot-web') -%>


