<%-
	include('../partials/head-web', {
		class: 'tc'
	})
-%>

<main id="about" class="pt5 f5 lh-title">
	<header class="mb5">
	    <section>
	        <img src="/static/images/logos/logo-rollyt-medium.png">
	    </section>
	</header>
	<div>
		<h3>Social Media Pages</h3>
		<a class="no-underline" href="https://www.facebook.com/rollytplayer" target="_blank" title="Facebook">
	        <img src="/static/images/logos/socials/social-logo-facebook-dark.png">
	    </a>&nbsp;&nbsp;&nbsp;
	    <a class="no-underline" href="https://twitter.com/rollytplayer" target="_blank" title="Twitter">
	        <img src="/static/images/logos/socials/social-logo-twitter-dark.png">
	    </a>
	    <br><br>
		<hr class="style1">
	    <br>
	    <div class="fb-comments" data-href="https://www.rollyt.com" data-numposts="5"></div>
	</div>
</main>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=168223933809311&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<%- include('../partials/foot-web') -%>


