@font-face {
	font-family: 'icomoon';
	src:url('/static/app/libs/icomoon-loading/fonts/icomoon.eot');
	src:url('/static/app/libs/icomoon-loading/fonts/icomoon.eot') format('embedded-opentype'),
		url('/static/app/libs/icomoon-loading/fonts/icomoon.woff') format('woff'),
		url('/static/app/libs/icomoon-loading/fonts/icomoon.ttf') format('truetype'),
		url('/static/app/libs/icomoon-loading/fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-loading-icon:before {
	content: "\e000";
}
.icon-loading-icon-2:before {
	content: "\e001";
}
.icon-loading-icon-3:before {
	content: "\e002";
}
.icon-loading-icon-4:before {
	content: "\e003";
}
.icon-loading-icon-5:before {
	content: "\e004";
}
.icon-loading-icon-6:before {
	content: "\e005";
}
.icon-loading-icon-7:before {
	content: "\e006";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-icon {
	animation: anim-rotate 2s infinite linear;
}
.loading-icon--steps {
	animation: anim-rotate 1s infinite steps(8);
}
.loading-icon--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}