<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Channel Library</h1>
	<p class="mb4">Channel library contains your starred and subscribed channel.</p>
	<p>
		<img src="/static/images/help/channellib/img-location.png">
		<br>
		<em class="f7">Channel library button is location in the topbar.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Pin to Top</h2>
	<p>Also provides option to pin any channel to top, like in <a href="/#/player.frame/about/help/playlistlibrary" target="_top">playlist library</a>.</p>
	
	<br>
	<br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>