<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Folder</h1>
	<p>Folder adds another level of organizing your library.</p>
	<p class="mb4">For example, keeping the music channels inside music folder, and not to mix with sports channels.</p>
	<p>
		<img src="/static/images/help/folder/img-location.png">
		<br>
		<em class="f7">Folder manager is located in the main menu at the topbar.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Folder Manager</h2>
	<p>Here, you can add, edit, delete folder. You can also set a folder to public to enable someone to play your videos in that folder from ther own player through player sharing.</p>
	<p>
		<img src="/static/images/help/folder/img-manager.png">
	</p>

	<br>
	<br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>