<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Home Page</h1>
	<p class="mb4">Offers flexible block feeds where you can add and remove blocks of popular videos, search results, channels, and playlists.</p>

	<hr class="style1 mv4">

	<h2>Adding New Block</h2>
	<p>Simply click the "+" button at the bottom of homepage then configure your new block.</p>
	<p>
		<img src="/static/images/help/homepage/img-add-block.png">
		<br>
		<br>
	</p>
	<p>For adding a <b>Channel</b> and <b>Playlist</b>, simply go to channel or playlist's page and select "Add to Home" menu-item. You can also filter the videos before adding it to home.</p>
	<p>
		<img src="/static/images/help/homepage/img-add-channel.png">
		<br>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Block Menu</h2>
	<p>Provides additional actions for blocks.</p>
	<p>
		<img src="/static/images/help/homepage/img-block-menu.png">
		<br>
		<em class="f7">Open the menu from the button at top right corner of the block.</em>
		<br>
	</p>

	<br><br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>