<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

<h1>Help Center</h1>
<!-- <p>Select a topic</p> -->

<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/player" target="_top"><h3 class="mv0">The Rollyt Player</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/playlist" target="_top"><h3 class="mv0">The Rollyt Playlist</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/playersharing" target="_top"><h3 class="mv0">Player Sharing</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/searching" target="_top"><h3 class="mv0">Search</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/homepage" target="_top"><h3 class="mv0">Home Page</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/videolibrary" target="_top"><h3 class="mv0">Video Library</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/playlistlibrary" target="_top"><h3 class="mv0">Playlist Library</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/channellibrary" target="_top"><h3 class="mv0">Channel Library</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/folder" target="_top"><h3 class="mv0">Folder</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/starring" target="_top"><h3 class="mv0">Starring</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/videomodal" target="_top"><h3 class="mv0">Modal Player</h3></a>
<hr class="style1">
<a class="db pv2" href="/#/player.frame/about/help/modes" target="_top"><h3 class="mv0">Modes</h3></a>

</section>

<%- include('../../../partials/frame/foot') -%>