<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Modes</h1>
	<p class="mb4">Offers different kinds of view modes. Settings are automatically adjusted in order to enter into a centain mode. At the moment, Rollyt offers only Karaoke mode.</p>

	<hr class="style1 mv4">

	<h2>Karaoke Mode</h2>
	<p>This mode optimizes Rollyt for karaoke. Following settings are adjusted automatically.</p>
	<p>
		<img src="/static/images/help/modes/img-karaoke-button.png">
		<br>
		<em class="f7">Karaoke mode is located in the main menu at the topbar.</em>
		<br>
		<br>
	</p>

	<hr class="style1 mv4">
	<p>These are the auto adjusted settings. Breaking one of these settings will revert the mode back to normal.</p>
	<p>
		<img src="/static/images/help/modes/img-karaoke.png">
		<br>
		<em class="f7">Click confirm to apply.</em>
		<br>
		<br>
	</p>

	<div>
		<ul class="tl mw6 center">
			<li>
				<b>Expand Player View & Minimize Queue List</b> <span class="silver">&mdash;</span> Expands the video frame for lyrics visibility.
			</li>
			<li>
				<b>Auto Remove Items</b> <span class="silver">&mdash;</span> Removes the video after played to give room for new videos.
			</li>
			<li>
				<b>Auto <a href="/#/player.frame/about/help/searching">Pin Karaoke Keyword</a></b> <span class="silver">&mdash;</span> Easy search karaoke videos.
			</li>
			<li>
				<b>Auto <a href="/#/player.frame/about/help/playersharing">Player Share</a></b> <span class="silver">&mdash;</span> Enables your phones to be a songbook!
			</li>
		</ul>
	</div>
	
	<br>
	<br>
	<br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>