<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Player Limitations</h1>
	<p>The player can only have maximum of <%= locals.playerItemsLimit %> items.</p>
	<p>However, the Rollyt playlist can have more, so add it to the playlist instead of adding it to the player.</p>

	<br>
	<br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>