<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Player Sharing</h1>
	<p class="mb4">Enables you to share (over internet) your own player to friends and let them use it to queue and play their videos from their own mobile. For <a href="/#/player.frame/about/help/modes">karaoke mode</a>, sharing the player is automatically enabled as it will be very helpful.</p>
	<p>
		<img src="/static/images/help/playersharing/icon-location.png">
		<br>
		<em class="f7">Player sharing button is located in the topbar of Rollyt player.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Share or Connect</h2>
	<p class="mb4">At first, you will be asked to either share your player or connect to someone's player.</p>
	<p>
		<img src="/static/images/help/playersharing/img-lobby.png">
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Sharing the Player</h2>
	<p class="mb4">Publishes your player to internet and waits for someone to connect. A QR code and temporary password will be generated to be used as a key in order for someone to connect. The <b>Users</b> tab will show all connected users. The <b>Settings</b> will provide options for you shared player.</p>
	<p>
		<img src="/static/images/help/playersharing/img-share-admin.png">
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Connecting to Player</h2>
	<p class="mb4">Connecting to a player offers two ways to connect, either scanning the QR code or searching the player you wish to connect to and will be asked to input the password of the player.</p>
	<p>
		<img src="/static/images/help/playersharing/img-connecting.png">
		<br>
		<em class="f7">Searching the player is an alternative way, in case the scanning of QR code is not working.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Disconnect</h2>
	<p class="mb4">Simple click "Disconnect" to unshare your player or exit from someone's player.</p>
	<p>

	<br><br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>