<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Playlist Library</h1>
	<p class="mb4">Playlist library contains all your Rollyt and Youtube playlist.</p>
	<p>
		<img src="/static/images/help/playlistlib/img-location.png">
		<br>
		<em class="f7">Playlist library button is location in the topbar.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Pin to Top</h2>
	<p>Provides option to pin any playlist to top for easy and quick access.</p>
	<p>
		<img src="/static/images/help/playlistlib/img-pin-top-menu.png">
		<br>
		<em class="f7">Hover on playlist and open menu, then click "Pin to Top".</em>
		<br>
	</p>
	<br>
	<p>
		<img src="/static/images/help/playlistlib/img-pin-top.png">
		<br>
		<em class="f7">The pin bar is located at the top of the library.</em>
		<br>
	</p>

	<br><br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>