<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>The Rollyt Playlist</h1>
	<p class="mb4">Rollyt provides another kind of playlist which offers the same flexibility as the player, it does not only accept videos but all types of items that <a href="/#/player.frame/about/help/player" target="_top">Rollyt player</a> can play.</p>
	<p class="mb4"><em>Rollyt playlist is different from Youtube playlist</em></p>

	<hr class="style1 mv4">
	<h2>Creating Rollyt Playlist</h2>
	<p>You can create Rollyt playlist through following instruction.</p>
	<p>
		<img src="/static/images/help/playlist/img-create-save.png">
		<br>
		<em class="f7">Create Rollyt playlist through save option in <a href="/#/player.frame/about/help/player" target="_top">Rollyt player</a>.</em>
		<br>
		<br>
		<br>
		<img src="/static/images/help/playlist/img-create-menu.png">
		<br>
		<em class="f7">Create Rollyt playlist in <a href="/#/player.frame/about/help/playlistlibrary" target="_top">playlist library</a>.</em>
		<br>
	</p>

	<hr class="style1 mv4">
	<h2>Auto-Updated Playlist</h2>
	<p>Rollyt playlist updates subitems when you play it. Giving you advantage to play the latest videos in a channel.</p>
	<p>
		<img src="/static/images/help/playlist/img-auto-update.png">
		<br>
		<em class="f7">Only fetch videos that are uploaded by the day.</em>
		<br>
	</p>

	<hr class="style1 mv4">
	<h2>Mixing Multiple Playlist</h2>
	<p>To mix multiple group-type items like (channels and playlists) in one playlist. Simply enable <b>Repeat</b> mode and set all items' <b>Play Limit</b> to <b>1</b>.</p>
	<p>This will force the items to only play 1 in each loop / repeat.</p>

	<br>
	<br>
	<br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>