<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Searching</h1>
	<p class="mb4">Rollyt provides additional features for searching and search results, such as filterable results, pinning keywords, and playing all results to <a href="/#/player.frame/about/help/player" target="_top">Rollyt player</a>.</p>
	<p>
		<img src="/static/images/help/searching/img-location.png">
		<br>
		<em class="f7">Search bar is located at the top of the webapp.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Filter Results</h2>
	<p>Results can be filtered by <b>Type</b>, <b>Date</b>, <b>Sort</b>.</p>
	<p>
		<img src="/static/images/help/searching/img-filters.png">
		<br>
		<em class="f7">Above results is filtered by <b>Month</b> and <b>Views</b>.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Pin Keywords</h2>
	<p>Pinning keywords ensures that results are related and to avoid retyping search phrase.</p>
	<p>
		<img src="/static/images/help/searching/img-pin.png">
		<br>
		<em class="f7">Above search will list down videos that is a trailer.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Play Results</h2>
	<p>Play or queue all results to <a href="/#/player.frame/about/help/player" target="_top">Rollyt player</a>.</p>
	<p>
		<img src="/static/images/help/searching/img-play-add.png">
		<br>
	</p>

	<br><br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>