<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Starring</h1>
	<p class="mb4">Starring is the way to save a <b>video</b>, <b>playlist</b>, <b>channel</b> to your library. Optionally, you can specify a folder to organize your library.</p>
	<p>
		<img src="/static/images/help/starring/img-location.png">
		<br>
		<em class="f7">Star buttons are placed in <b>Video</b>, <b>Playlist</b>, <b>Channel's</b> page as well as in menus of <b>Rollyt Player</b> and <b>Video Blocks</b>.</em>
		<br>
	</p>

	<br>
	<br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>