<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Video Modal</h1>
	<p class="mb4">Video modal offers another way to play a video, and this does not interrupt any playing video in the <a href="/#/player.frame/about/help/player" target="_top">Rollyt player</a>.</p>
	<p>
		<img src="/static/images/help/videomodal/img-location.png">
		<br>
		<em class="f7">"Play in Modal" option is available in video menu.</em>
		<br>
	</p>

	<br>
	<br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>