<%- include('../../../partials/frame/head') -%>

<section class="tc center f6 lh-copy mw7">

	<h1>Video Library</h1>
	<p class="mb4">Video library contains videos that are starred from Rollyt and liked from Youtube.</p>
	<p>
		<img src="/static/images/help/videolib/img-location.png">
		<br>
		<em class="f7">Video library button is location in the topbar.</em>
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>Play All Videos In A Folder</h2>
	<p>You can play all starred videos inside a folder. Simply select a folder and click "Play in Player" from the menu.</p>
	<p>
		<img src="/static/images/help/videolib/img-play.png">
		<br>
	</p>

	<hr class="style1 mv4">

	<h2>List Layout</h2>
	<p>By default, video library is <b>thumbnail layout</b>. But in case you prefer, you can enable <b>list layout</b> in settings.</p>
	<p>
		<img src="/static/images/help/videolib/img-list-layout.png">
		<br>
		<em class="f7">Noticed the folder icon with "All"?, you can know it <a href="/#/player.frame/about/help/folder" target="_top">here</a>.</em>
		<br>
	</p>

	<br><br><br>
	<a href="/#/player.frame/about/help" target="_top">Back to Help Center</a>

</section>

<%- include('../../../partials/frame/foot') -%>